.ai {
    background-color: var(--light);
    background-blend-mode: color-burn;
    background-image: url(/assets/dune.jpeg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;

    @media (prefers-color-scheme: dark) {
      background-color: var(--dark);
      background-blend-mode: color;
    }
    
    main {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .c {
        max-width: 50dvw;
        padding-block-start: 10dvh;
    }

    .heading {
        font-size: clamp(1.8rem, 2rem + 5dvw, 6dvw);
        flex: 1 1 20%;
        margin-block-end: 1rem;
        mix-blend-mode: color-burn;
        word-break: break-all;
        z-index: 1;

        &:last-of-type {
            text-align: right;
        }

        @media (prefers-color-scheme: dark) {
          mix-blend-mode: color-dodge;
        }
    }

    p {
        font-size: clamp(1.3rem, 1.6dvw + .8rem, 1.5rem);
        font-weight: 400;
        letter-spacing: -1px;
        mix-blend-mode: darken;
        flex: 1 1 60%;

        @media (prefers-color-scheme: dark) {
          mix-blend-mode: color-dodge;
        }
    }
}
