.ai {
    background-color: var(--light);
    background-blend-mode: soft-light;
    background-image: url(/assets/dune.jpeg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
    
    main {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .heading {
        font-size: clamp(1.8rem, 2rem + 5dvw, 6dvw);
        flex: 1 1 20%;
        margin-block-end: 1rem;
        mix-blend-mode: color-burn;
        word-break: break-all;
        z-index: 1;
    }

    p {
        font-weight: 400;
        letter-spacing: -1px;
        mix-blend-mode: darken;
        flex: 1 1 60%;
    }
}

/* .ai {
    background-image: url(/assets/spiral.jpeg);
    background-blend-mode: soft-light;
    background-size: 1%;
    background-color: var(--light);
    overflow-x: hidden;
    width: 100%;
    
    main {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .heading {
        font-size: clamp(1.8rem, 2rem + 5dvw, 6dvw);
        flex: 1 1 20%;
        margin-block-end: 1rem;
        mix-blend-mode: color-burn;
        word-break: break-all;
        z-index: 1;
    }

    p {
        font-weight: 400;
        letter-spacing: -1px;
        mix-blend-mode: darken;
        flex: 1 1 60%;
    }
} */