:root {
  --font-body: '👹', serif;
  --font-display: '🥦', sans-serif;

  --dark: oklch(0.22 0.08 326.66);
  --light: #FFF7D5;

  --accent: var(--accent-purple);
  --accent-purple: oklch(0.22 0.08 326.66);

  --blog-tag-fg-clr: var(--light);
  --body-bg-clr: var(--dark);
  --body-fg-clr: var(--light);
  --chunky-blob-stroke-clr: var(--light);
  --link-fg-clr: var(--light);
  --outline-clr: var(--light);
  --post-summary-border-clr: var(--light);
  --post-nav-border-clr: var(--light);
  --post-footer-bg-clr: var(--light);
  --post-footer-fg-clr: var(--dark);
  --post-footer-link-fg-clr: var(--dark);
  --post-img-border-clr: var(--light);
  --selection-bg-clr: var(--light);
  --selection-fg-clr: var(--dark);

  @media (prefers-color-scheme: light) {
    --accent: var(--light);
    --blog-tag-fg-clr: var(--dark);
    --body-bg-clr: var(--light);
    --body-fg-clr: var(--dark);
    --chunky-blob-stroke-clr: var(--dark);
    --link-fg-clr: var(--dark);
    --outline-clr: var(--dark);
    --post-code-clr: var(--dark);
    --post-footer-bg-clr: var(--dark);
    --post-footer-fg-clr: var(--light);
    --post-footer-link-fg-clr: var(--light);
    --post-img-border-clr: var(--dark);
    --post-summary-border-clr: var(--dark);
    --post-nav-border-clr: var(--dark);
    --selection-bg-clr: var(--dark);
    --selection-fg-clr: var(--light);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus-visible {
  outline-color: var(--outline-clr);
  outline-offset: 8px;
}

::selection {
  background-color: var(--selection-bg-clr);
  color: var(--selection-fg-clr);
}

html {
  color-scheme: dark light;
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--body-bg-clr);
  color: var(--body-fg-clr);
  font-display: swap;
  font-family: var(--font-body);
  font-size: clamp(1.5rem, 1.6dvw + 1rem, 2rem);
  font-variant-numeric: lining-nums slashed-zero;
  font-weight: 300;
  hanging-punctuation: first last;
  line-height: 1.5;
  min-height: calc(100dvh - 4rem);
  padding: 2rem;
  text-rendering: optimizeSpeed;
}

.wrapper {
  font-size: clamp(1.5rem, 1.6dvw + 1rem, 2rem);
}

h1 {
  font-size: clamp(.875rem, 1dvw + .5rem, 1rem);
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
}

pre,
code {
  color: var(--accent);
  font-size: smaller;
}

a {
  color: var(--link-fg-clr);
  text-decoration-thickness: 1px;
  text-underline-offset: .4em;
}

p {
  margin-block-end: 1em;
}

strong {
  font-weight: bold;
}

ul {
  list-style-type: square;
  padding-inline-start: 1.6em;

  li {
    padding-inline-start: .36em;
    margin-block-end: .65em;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

img,
svg {
  height: auto;
}
