:root {
  --font-body: '👹', serif;

  --dark: #181818;
  --light: #F0EFEB;
  --accent: var(--accent-pink);
  --accent-pink: #EF74FF;
  --accent-purple: #8A079A;

  --body-bg-clr: var(--dark);
  --body-fg-clr: var(--light);
  --link-fg-clr: var(--light);
  --outline-clr: var(--light);
  --post-summary-border-clr: var(--light);
  --post-nav-border-clr: var(--light);
  --post-footer-bg-clr: var(--light);
  --post-footer-fg-clr: var(--dark);
  --post-footer-link-fg-clr: var(--dark);
  --post-img-border-clr: var(--light);
  --selection-bg-clr: var(--light);
  --selection-fg-clr: var(--dark);

  color-scheme: dark light;

  @media (prefers-color-scheme: light) {
    --accent: var(--accent-purple);
    --body-bg-clr: var(--light);
    --body-fg-clr: var(--dark);
    --link-fg-clr: #283618;
    --outline-clr: var(--dark);
    --post-code-clr: var(--blue);
    --post-footer-bg-clr: var(--dark);
    --post-footer-fg-clr: var(--light);
    --post-footer-link-fg-clr: var(--light);
    --post-img-border-clr: var(--dark);
    --post-summary-border-clr: var(--dark);
    --post-nav-border-clr: var(--dark);
    --selection-bg-clr: var(--dark);
    --selection-fg-clr: var(--light);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus-visible {
  outline-color: var(--outline-clr);
  outline-offset: 8px;
}

::selection {
  background-color: var(--selection-bg-clr);
  color: var(--selection-fg-clr);
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-body);
  font-size: 100%;
  hanging-punctuation: first last;
  text-rendering: optimizeSpeed;
}

body {
  background-color: var(--body-bg-clr);
  color: var(--body-fg-clr);
  display: grid;
  justify-content: center;
  font-display: swap;
  font-size: clamp(1.5rem, 1.6dvw + 1rem, 2rem);
  font-weight: 300;
  line-height: 1.5;
  min-height: 100dvh;
  overflow-x: hidden;
  padding-inline: 2rem;
}

.wrapper {
  font-size: clamp(1.5rem, 1.6dvw + 1rem, 2rem);
  margin-block-start: 25dvh;
  padding-block-end: 25dvh;

  @media (width >= 540px) {
    max-width: 48ch;
  }

  @media (width >= 768px) {
    max-width: 42ch;
  }
}

h1 {
  font-size: clamp(.875rem, 1dvw + .5rem, 1rem);
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  margin-block-end: 5.6rem;
  text-align: center;
  text-transform: uppercase;
}

pre,
code {
  color: var(--accent);
  font-size: smaller;
}

a {
  color: var(--link-fg-clr);
  position: relative;
  text-decoration: none;

  &::after {
    background-color: var(--link-fg-clr);
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 96%;
    width: 100%;
  }
}

p {
  margin-block-end: 1em;
}

strong {
  font-weight: bold;
}

ul {
  list-style-type: square;
  padding-inline-start: 1.6em;

  li {
    margin-block-end: .65em;
  }
}
