.u-strike {
  text-decoration: line-through; }

.inner {
  padding: 1em; }

.max-50 {
  max-width: 60%;
  margin: 0 auto;
  padding: 1em 0; }

@media (max-width: 480px) {
  .max-50 {
    max-width: 90%; } }
html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Helvetica Neue Light", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 18px; }

h1, h2, h3, h4 {
  font-family: "Helvetica Neue Light", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 1em 0 .5em; }

h3 {
  font-size: 34px;
  font-weight: bold; }

h4 {
  font-size: 26px;
  font-style: italic; }

blockquote {
  position: relative;
  margin: 1em 0;
  background-color: #dfeaef;
  font-style: italic;
  border-radius: 0 10px 10px 0; }
  blockquote:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2%;
    right: auto;
    background: #5992A9;
    height: 100%;
    width: 10px;
    border-radius: 10px 0 0 10px; }

ul {
  margin: 1em 0;
  list-style-type: square; }
  ul li {
    padding-bottom: .5em; }

.wrapper {
  background-color: #f4f4f4;
  color: #fff;
  min-height: 100vh;
  height: auto; }

.hero {
  position: relative;
  min-height: 70vh;
  background-color: #52879C;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center; }
  .hero .inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%); }
  .hero:after {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    background: #5992A9;
    width: 100%;
    height: 50px; }
  .hero h1, .hero h2 {
    margin: 0 auto; }
  .hero h1 {
    font-weight: 300;
    padding-bottom: .5em; }
  .hero h2 {
    font-size: 130%;
    font-weight: 300;
    max-width: 60%;
    letter-spacing: 1px; }
  .hero p {
    padding: 1.25em 0 0 0;
    letter-spacing: 1px; }

.blog-title {
  font-family: "Playfair Display", "PT Serif", serif;
  font-size: 400%; }

.article-title, .article-desc {
  font-family: "Helvetica Neue Light", Roboto, "Helvetica Neue", Arial, sans-serif; }

.article-title {
  font-size: 330%; }

.article-desc {
  font-size: 130%;
  font-weight: 200;
  max-width: 60%;
  letter-spacing: 1px; }

.post {
  padding: .5em;
  border-radius: 6px;
  transition: background-color 250ms 0s ease; }
  .post:after {
    content: "";
    display: block;
    margin-top: 3em;
    border-top: 1px solid #52879C; }
  .post:hover, .post:active, .post:focus {
    background-color: #fefefe; }

.post-title a {
  color: #52879C; }

.post-desc {
  font-size: 95%; }

.post-link {
  float: right; }

.content {
  color: #222;
  font-family: Georgia, serif;
  font-size: 110%;
  line-height: 1.5; }
  .content p {
    margin-bottom: 1.1em; }
  .content img {
    border: 1px solid #222; }
  .content table {
    max-width: 100%;
    min-width: 100%;
    margin: 1.5em auto; }
  .content tr:nth-child(2n+2) {
    background: #e3edf0; }
  .content table, .content td {
    border: 1px solid #52879C; }
  .content th, .content td {
    padding: .5em; }
  .content th {
    background: #52879C;
    color: #fff; }

footer {
  background: rgba(82, 135, 156, 0.2);
  text-align: center;
  margin: 1em 0 0 0;
  min-height: 80px; }
  footer p {
    padding: 25px 0;
    margin: 0 !important; }

@media (max-width: 480px) {
  .hero {
    text-align: left; }
    .hero h2 {
      max-width: 100%; }
    .hero .article-desc {
      font-size: 105%; }
    .hero .inner {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none; }

  .blog-title {
    font-size: 230%; }

  .post-title h3 {
    font-size: 26px; }

  .post-desc {
    font-size: 90%; }

  .post-link {
    float: none;
    font-size: 18px; }

  .article-title {
    font-size: 175%; }

  .article-desc {
    font-size: 80%; }

  .content {
    font-size: 100%; }
    .content img {
      max-width: 95%; } }

/*# sourceMappingURL=blog.css.map */
