main {
  /* font-size: clamp(1rem, 1.6dvw + 1rem, 1.5rem); */
  font-size: clamp(1.5rem, 1.6dvw + 1rem, 2rem);
  margin-block-start: 25dvh;
  padding-block-end: 25dvh;

  @media (width >= 540px) {
    max-width: 48ch;
  }

  @media (width >= 768px) {
    max-width: 42ch;
  }
}

h1 {
  font-weight: 600;
  font-size: clamp(.875rem, 1dvw + .5rem, 1rem);
  letter-spacing: 2px;
  margin-block-end: 5.6rem;
  text-align: center;
  text-transform: uppercase;
}

.succinct-bio {
  font-size: clamp(1.75rem, 1.6dvw + 1rem, 2rem);
  line-height: 1.84;
  margin-block-end: 1em;
  text-wrap: pretty;
}