/* Variables
---------------------------------------- */
/* Mixins
---------------------------------------- */
/* Global
---------------------------------------- */
html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Helvetica Neue Light", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 18px; }

h1, h2, h3 {
  margin: 0; }

ul {
  padding: 0; }

/* Useful Classes
---------------------------------------- */
.dd-btn {
  -webkit-transition: all 200ms ease 0s;
  -moz-transition: all 200ms ease 0s;
  -o-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  padding: 12px 50px;
  border: 2px solid #fff;
  border-radius: 30px;
  background: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px; }
  .dd-btn:hover, .dd-btn:active, .dd-btn:focus {
    background: #fff;
    text-decoration: none;
    color: #5992A9; }

.section-title {
  position: relative; }
  .section-title h2 {
    position: relative;
    z-index: 1;
    padding: .5em 0;
    font-size: 300%;
    font-family: "Helvetica Neue Light", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff; }
  .section-title:before, .section-title:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 0; }
  .section-title:before {
    left: 0;
    background: #52879C; }
  .section-title:after {
    right: 0;
    background: #5992A9; }

.section-footer {
  max-width: 70%;
  margin: 0 auto; }
  .section-footer p {
    padding: 2em 0 0;
    text-align: center;
    font-size: 95%;
    color: #2A454F; }

.no-dec {
  list-style-type: none;
  text-decoration: none;
  -webkit-padding-start: 0; }
  .no-dec:hover {
    text-decoration: none; }
  .no-dec:focus {
    text-decoration: none; }

.emphasis {
  font-weight: bold; }

.row {
  margin: 0; }

/* Splendid.css Overrides
---------------------------------------- */
.spl-btn {
  background-color: transparent;
  padding: .85em 4em;
  border-radius: 30px;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 18px; }
  .spl-btn:hover {
    color: #F6F4E3; }

.spl-focus-vert:before {
  border-radius: 5px;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s; }
  .spl-focus-vert:before:hover, .spl-focus-vert:before:focus, .spl-focus-vert:before:active {
    background-color: #fff; }

/* Above fold */
.navbar-fixed-top {
  visibility: hidden; }

/* Nav
---------------------------------------- */
.bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  max-height: 50px;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid #fff; }

.bar-item {
  display: block;
  float: left;
  height: 50px;
  width: 20%;
  text-align: center;
  color: #5992A9;
  font-size: 15px;
  line-height: 20px; }
  .bar-item:hover, .bar-item:active, .bar-item:focus {
    text-decoration: none;
    color: #fff; }
  .bar-item i {
    font-size: 20px; }
  .bar-item span {
    display: block; }
    .bar-item span:first-child {
      padding: .3em 0 0 0; }

/* Wrapper
---------------------------------------- */
.wrapper {
  position: relative;
  display: flex;
  display: -webkt-flex;
  flex-flow: column wrap; }

.main-container {
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

.logo {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center; }
  .logo h1 {
    -webkit-transition: all 500ms ease 450ms;
    -moz-transition: all 500ms ease 450ms;
    -o-transition: all 500ms ease 450ms;
    transition: all 500ms ease 450ms;
    font-size: 485%;
    font-weight: 200;
    font-family: "Josefin Sans", "Helvetica Neue Light", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 0 0 .2em 0;
    -webkit-transform: translate(-200%, 0);
    -moz-transform: translate(-200%, 0);
    -ms-transform: translate(-200%, 0);
    -o-transform: translate(-200%, 0);
    transform: translate(-200%, 0); }
  .logo h2 {
    -webkit-transition: all 500ms ease 550ms;
    -moz-transition: all 500ms ease 550ms;
    -o-transition: all 500ms ease 550ms;
    transition: all 500ms ease 550ms;
    font-family: "Josefin Sans", "Helvetica Neue Light", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0 0 1.5em 0;
    -webkit-transform: translate(-200%, 0);
    -moz-transform: translate(-200%, 0);
    -ms-transform: translate(-200%, 0);
    -o-transform: translate(-200%, 0);
    transform: translate(-200%, 0); }

.selfie {
  position: absolute;
  bottom: -15%;
  right: 0;
  left: 0;
  text-align: center;
  filter: grayscale(1);
  -webkit-filter: grayscale(1); }
  .selfie img {
    padding: .5em;
    border-radius: 50%;
    max-width: 230px;
    height: auto;
    border: 7px solid #fff; }

.hero-l, .hero-r {
  -webkit-transition: all 500ms cubic-bezier(0.14, 0.12, 0.6, 0.79) 0s;
  -moz-transition: all 500ms cubic-bezier(0.14, 0.12, 0.6, 0.79) 0s;
  -o-transition: all 500ms cubic-bezier(0.14, 0.12, 0.6, 0.79) 0s;
  transition: all 500ms cubic-bezier(0.14, 0.12, 0.6, 0.79) 0s;
  content-align: center;
  width: 0%;
  height: 85vh; }

.hero-l {
  background: #52879C; }

.hero-r {
  background: #5992A9; }

.hero-l-inner, .hero-r-inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%; }

/* About
---------------------------------------- */
.about {
  width: 100%;
  background-color: #fff;
  color: #222; }
  .about .container {
    max-width: 70%;
    text-align: left;
    font-size: 20px; }
  .about .row:first-of-type i {
    margin: 2em 0 .5em 0; }
  .about a {
    position: relative;
    color: #5992A9;
    text-overflow: hidden; }
    .about a:after {
      content: "";
      position: absolute;
      bottom: -10%;
      left: 0;
      width: 100%;
      background: #52879C;
      height: 2px;
      -webkit-transition: all 300ms ease 0s;
      -moz-transition: all 300ms ease 0s;
      -o-transition: all 300ms ease 0s;
      transition: all 300ms ease 0s; }
    .about a:hover, .about a:focus, .about a:active {
      text-decoration: none; }

.about-inner {
  padding: 2em .5em;
  color: #365a68; }
  .about-inner i {
    display: block;
    margin: .5em 0;
    text-align: center;
    color: #52879C; }

/* Skills */
.skills {
  width: 100%;
  background-color: #f8f8f8;
  color: #52879C; }
  .skills .container {
    padding-top: 2em;
    padding-bottom: 2em; }
  .skills .row:nth-child(2) .skill-section {
    margin: 1em 0; }

.skill-section {
  padding: 0 0 1em 0; }
  .skill-section h1 {
    font-weight: 100;
    font-size: 32px;
    font-family: "Helvetica Neue Light", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: .3em 0 .3em 0;
    letter-spacing: 2px; }
  .skill-section ul {
    padding-top: .3em;
    color: #365a68; }
  .skill-section i {
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    color: #52879C; }

svg:not(:root) {
  overflow: auto; }

.skill-top {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 0 auto; }
  .skill-top:after {
    content: attr(data-rating);
    position: absolute;
    top: 3.25rem;
    left: .2rem;
    z-index: 1;
    color: #52879C;
    width: 100%;
    font-size: 2.5rem;
    text-align: center; }
  .skill-top svg {
    position: relative;
    width: 10rem;
    height: 10rem; }
    .skill-top svg:nth-child(2) {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg); }
      .skill-top svg:nth-child(2) path {
        fill: none;
        stroke-width: 12;
        stroke-dasharray: 629;
        stroke: #eee;
        opacity: 1;
        -webkit-animation: load 3s;
        -moz-animation: load 3s;
        -o-animation: load 3s;
        animation: load 3s; }

@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-moz-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-ms-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@-o-keyframes load {
  0% {
    stroke-dashoffset: 0; } }
@keyframes load {
  0% {
    stroke-dashoffset: 0; } }
/* Projects
---------------------------------------- */
.projects {
  position: relative;
  width: 100%;
  background-color: #fff; }
  .projects .section-title h2 {
    color: #fff; }

.projects-container {
  padding: 2em 0; }
  .projects-container h1 {
    font-weight: 300; }
  .projects-container .col-sm-12:first-child i {
    font-size: 6em; }

.proj-box {
  -webkit-transition: all 200ms ease 0s;
  -moz-transition: all 200ms ease 0s;
  -o-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  margin: 0 auto;
  padding: 1em 1em 8em 1em;
  max-width: 70%;
  min-height: 330px;
  text-align: center;
  color: #52879C; }
  .proj-box:hover a {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    border-color: #52879C; }

.proj-icon-box {
  margin: 0 auto 1em auto; }
  .proj-icon-box h2 {
    font-weight: 300;
    padding: .5em 0 0 0; }

.proj-body h2 {
  padding: 0 0 .3em 0;
  font-size: 40px;
  font-weight: 300;
  font-family: "Helvetica Neue Light", Roboto, "Helvetica Neue", Arial, sans-serif; }
.proj-body p {
  font-size: 20px;
  color: #365a68; }
  .proj-body p:first-of-type {
    border-top: 1px solid #2A454F;
    border-bottom: 1px solid #2A454F;
    padding: 1em 0; }
  .proj-body p:not(:first-of-type) {
    display: inline-block;
    margin: 0 1em 1em 1em; }
.proj-body a {
  color: #5992A9;
  text-decoration: none;
  font-size: 20px;
  padding: 0 0 .2em 0;
  border-bottom: 2px solid transparent; }

/* Proj Page
---------------------------------------- */
.proj-info {
  width: 100%;
  background-color: #fff;
  color: #222; }
  .proj-info .container {
    margin-top: 4em;
    padding: 2em 0; }
    .proj-info .container .row {
      margin-bottom: 2em; }

.proj-info-img {
  max-width: 800px;
  border: 3px solid #52879C;
  margin: 0 auto; }
  .proj-info-img.urban {
    text-align: center;
    border: 0; }
    .proj-info-img.urban img {
      max-width: 550px;
      padding: 2em 0; }
    .proj-info-img.urban a {
      color: #000; }
    .proj-info-img.urban h2 {
      padding: 1em 0;
      font-size: 375%;
      font-family: "Playfair Display", serif; }
  .proj-info-img img {
    max-width: 100%; }

.proj-info-text h1 {
  font-size: 30px;
  color: #365a68; }
.proj-info-text h3 {
  color: #52879C; }
.proj-info-text p {
  margin: 1em 0; }
.proj-info-text a {
  position: relative;
  color: #5992A9;
  text-overflow: hidden; }
  .proj-info-text a:after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    background: #52879C;
    height: 2px;
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s; }
  .proj-info-text a:hover, .proj-info-text a:focus, .proj-info-text a:active {
    text-decoration: none; }

.proj-info-footer {
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: 2em 0 0 0; }
  .proj-info-footer .dd-btn {
    background: #52879C;
    border: 3px solid transparent;
    font-weight: 400; }
    .proj-info-footer .dd-btn i {
      -webkit-transition: all 200ms ease 0s;
      -moz-transition: all 200ms ease 0s;
      -o-transition: all 200ms ease 0s;
      transition: all 200ms ease 0s;
      font-size: 20px;
      opacity: 0;
      padding: 0 0 0 .3em;
      margin-left: -1.7em; }
    .proj-info-footer .dd-btn:hover, .proj-info-footer .dd-btn:focus, .proj-info-footer .dd-btn:active {
      background: transparent;
      color: #5992A9;
      border-color: #52879C; }
      .proj-info-footer .dd-btn:hover i, .proj-info-footer .dd-btn:focus i, .proj-info-footer .dd-btn:active i {
        margin-left: 0;
        opacity: 1; }

.download-icons {
  padding: .5em 0; }
  .download-icons a {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    color: #52879C;
    padding: 0 1em; }
    .download-icons a:hover, .download-icons a:active, .download-icons a:focus {
      color: #365a68; }

/* Contact
---------------------------------------- */
.contact {
  position: relative;
  width: 100%;
  background-color: #fff;
  color: #52879C;
  margin: 0 0 3.5em 0; }
  .contact .container {
    padding: 2em 0 0 0; }
  .contact .section-footer {
    font-size: 20px; }

#form-contact .col-xs-12 > div {
  max-width: 50%;
  margin: 0 auto 2em auto; }
#form-contact .form-control {
  margin: .25em 0 0 0;
  height: auto;
  color: #52879C;
  padding: 12px 12px;
  border-radius: 4px;
  border-width: 2px;
  border-color: #52879C;
  font-size: 18px;
  outline: none;
  outline: 0;
  box-shadow: none;
  -moz-appearance: none; }
  #form-contact .form-control:invalid {
    border-color: red; }
#form-contact textarea.form-control {
  padding: 10px 12px 45px  12px; }
#form-contact label {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #52879C; }

.btn-default {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  background: #5992A9;
  color: #fff;
  border: 0;
  border-radius: 30px;
  padding: 12px 60px;
  position: relative;
  overflow: hidden; }
  .btn-default:before, .btn-default:after {
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    content: "";
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 15%;
    background: #3f6778; }
  .btn-default:before {
    left: 0;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg); }
  .btn-default:after {
    bottom: -10px;
    right: -10px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg); }
  .btn-default i {
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    font-size: 20px;
    opacity: 0;
    padding: 0 0 0 .4em;
    margin-left: -1.4em; }
  .btn-default:hover {
    background-color: #3f6778;
    color: #fff; }
    .btn-default:hover:before, .btn-default:hover:after {
      background: #5992A9; }
    .btn-default:hover i {
      margin-left: 0;
      opacity: 1; }

/* Social
---------------------------------------- */
.social {
  position: relative;
  background-color: transparent; }
  .social .container {
    position: relative;
    z-index: 2;
    padding: 1.5em 0; }
  .social:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: #52879C; }
  .social:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: #5992A9; }

.social-icons {
  margin: 0 auto; }
  .social-icons a {
    color: #fff; }
    .social-icons a i {
      font-size: 4.25em;
      -webkit-transition: all 200ms ease 0s;
      -moz-transition: all 200ms ease 0s;
      -o-transition: all 200ms ease 0s;
      transition: all 200ms ease 0s; }
      .social-icons a i:hover {
        color: #2A454F; }

@media (min-width: 1400px) and (-webkit-min-device-pixel-ratio: 1) {
  .dd-btn {
    font-size: 40px; }

  .logo h1 {
    font-size: 800%; }
  .logo h2 {
    font-size: 350%; }

  .selfie img {
    max-width: 350px; } }
@media (max-width: 992px) {
  .selfie img {
    width: 200px; }

  .project-skill {
    display: inline-block;
    padding: 0;
    color: #fff;
    margin: 0 .75em 0 .75em;
    border-radius: 0;
    background-color: transparent; }

  .proj-info-img {
    max-width: 750px; }

  .contact {
    min-height: 450px;
    height: 450px; } }
@media (max-width: 768px) {
  .section-footer {
    max-width: 95%; }

  .logo h1 {
    font-size: 400%; }

  .about .container {
    max-width: 100%;
    text-align: center; }

  /* Projects */
  .projects-container {
    margin: 1em 0 1em 0; }
    .projects-container h1 {
      text-align: center; }

  .proj-box {
    border: 0;
    padding-bottom: 4em;
    max-width: 100%; }

  .proj-body p:not(:first-of-type) {
    display: block;
    margin: 1em 0; }

  .proj-info-img {
    max-width: 500px;
    margin: 1em auto 1em auto; }
    .proj-info-img.urban img {
      max-width: 100%; }

  /* Skills */
  .section-title h2 {
    font-size: 235%; }

  .skill-section p:nth-child(1) {
    margin-top: 2em; }

  .skill-section p:nth-child(3) {
    margin-top: 2em; }

  /* Contact */
  .contact {
    min-height: 600px;
    height: auto; }

  #form-contact .col-xs-12 > div {
    max-width: 100%; }

  /* Social */
  .social-icons a i {
    margin: .3em 0; } }
@media (max-width: 767px) {
  /* Projects */
  .projects > .container-fluid {
    position: relative;
    top: auto;
    transform: none;
    -webkit-transform: none; } }
@media (max-width: 745px) {
  /* Nav */
  .navbar-fixed-top {
    visibility: visible; }

  /* Projects */
  .project-desc {
    margin: 0 0 6em 0; } }
@media (max-width: 640px) {
  /* Main */
  .main-container img {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none; }

  /* About */
  .about .col-md-4:nth-child(2) p {
    margin-top: 2em;
    margin-bottom: 2em; }

  /* Contact */
  .social-icons a {
    display: block; }

  .social-icons a:nth-child(2) i {
    padding: .15em 0; } }
@media (max-width: 480px) {
  .logo {
    top: 40%; }
    .logo h1, .logo h2 {
      -webkit-transition: all 200ms ease 0s;
      -moz-transition: all 200ms ease 0s;
      -o-transition: all 200ms ease 0s;
      transition: all 200ms ease 0s; }
    .logo h1 {
      font-size: 325%; }
      .logo h1:first-letter {
        padding: 0 0 0 .3em; }
    .logo h2 {
      text-align: center;
      font-size: 110%;
      padding: .5em 0 1.5em 0; }
    .logo a {
      font-size: 100%; }

  .selfie {
    bottom: -17.5%; }
    .selfie img {
      max-width: 175px; }

  .main-container .header {
    display: none; }

  /* Mobile Nav */
  .mobile-nav {
    display: block; }

  /* About */
  .about .col-md-4:nth-child(2) p {
    margin-top: 0;
    margin-bottom: 0; }

  /* Projects */
  .project-desc p {
    text-align: center; }

  .proj-info .col-sm-7 {
    padding: 0; }

  .proj-info-logo h1 {
    font-size: 225%; }

  .proj-info-img {
    max-width: 98%; }

  /* Social */
  .social {
    min-height: 450px;
    height: 450px; }

  .social-icons a i {
    font-size: 4.5em; } }
@media (width: 768px) and (height: 1024px) {
  .dd-btn {
    font-size: 26px; }

  .logo h1 {
    font-size: 500%; }
  .logo h2 {
    font-size: 200%; }

  .selfie img {
    width: 250px; } }

/*# sourceMappingURL=index.css.map */
