/* Variables
---------------------------------------- */
/* Mixins
---------------------------------------- */
/* Global
---------------------------------------- */
html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Times New Roman", Times, Garamond, serif;
  font-weight: 300;
  font-size: 18px; }

h1, h2, h3 {
  margin: 0; }

ul {
  padding: 0; }

p {
  letter-spacing: .5px; }

/* Useful Classes
---------------------------------------- */
.dd-btn {
  -webkit-transition: all 200ms ease 0s;
  -moz-transition: all 200ms ease 0s;
  -ms-transition: all 200ms ease 0s;
  -o-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  padding: 12px 50px;
  border: 2px solid #fff;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #fff;
  color: #AE4B3D;
  font-size: 20px;
  letter-spacing: 1px; }
  .dd-btn:hover, .dd-btn:active, .dd-btn:focus {
    background: #AE4B3D;
    text-decoration: none;
    color: #fff; }

.section-title {
  position: relative;
  margin: 2rem auto 0 auto;
  max-width: 45%;
  /*
  &:before, &:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    width:50%;
    z-index:0;
  }
  &:before {
    left:0;
    background:$hero-clr-left;
  }
  &:after {
    right:0;
    background:$hero-clr-right;
  }
  */ }
  .section-title h2 {
    position: relative;
    z-index: 1;
    padding: .5em 0;
    font-size: 350%;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #AE4B3D; }

.section-footer {
  max-width: 60%;
  margin: 0 auto; }
  .section-footer p {
    padding: 2em 0 0;
    text-align: center;
    font-size: 95%;
    color: #2A454F; }

.no-dec {
  list-style-type: none;
  text-decoration: none;
  -webkit-padding-start: 0; }
  .no-dec:hover {
    text-decoration: none; }
  .no-dec:focus {
    text-decoration: none; }

.emphasis {
  font-weight: bold; }

.row {
  margin: 0; }

/* Splendid.css Overrides
---------------------------------------- */
.spl-btn {
  background-color: transparent;
  padding: .85em 4em;
  border-radius: 30px;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 18px; }
  .spl-btn:hover {
    color: #fff; }

.spl-focus-vert:before {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  border-radius: 5px; }
  .spl-focus-vert:before:hover, .spl-focus-vert:before:focus, .spl-focus-vert:before:active {
    background-color: #fff; }

/* Nav
---------------------------------------- */
body {
  overflow-x: hidden; }

.nav-reveal {
  -webkit-transition: all 200ms ease 0s;
  -moz-transition: all 200ms ease 0s;
  -ms-transition: all 200ms ease 0s;
  -o-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: .25rem 0;
  text-align: center;
  letter-spacing: 4px;
  font-size: 130%;
  font-weight: 400;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.9); }
  .nav-reveal button {
    color: #f36956;
    background: none;
    border: 0; }

nav {
  -webkit-transition: all 300ms cubic-bezier(0.5, 1, 0.5, 1) 0s;
  -moz-transition: all 300ms cubic-bezier(0.5, 1, 0.5, 1) 0s;
  -ms-transition: all 300ms cubic-bezier(0.5, 1, 0.5, 1) 0s;
  -o-transition: all 300ms cubic-bezier(0.5, 1, 0.5, 1) 0s;
  transition: all 300ms cubic-bezier(0.5, 1, 0.5, 1) 0s;
  position: fixed;
  top: 52px;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  box-shadow: 3px 0 5px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9); }

.out {
  -webkit-transform: translate(0, -200%);
  -moz-transform: translate(0, -200%);
  -ms-transform: translate(0, -200%);
  -o-transform: translate(0, -200%);
  transform: translate(0, -200%); }

.in {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.nav-inner {
  font-size: 140%; }
  .nav-inner a {
    display: block;
    padding: 1em 0;
    color: #AE4B3D;
    letter-spacing: 1px; }
    .nav-inner a:hover, .nav-inner a:focus, .nav-inner a:active {
      text-decoration: none;
      color: #fff;
      background-color: rgba(174, 75, 61, 0.5); }

/* Wrapper
---------------------------------------- */
.wrapper {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  background-color: #fafafa; }

.screen {
  -webkit-transition: all 200ms ease 0s;
  -moz-transition: all 200ms ease 0s;
  -ms-transition: all 200ms ease 0s;
  -o-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  pointer-events: none; }

.main-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important; }

.logo {
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem 1rem;
  border: 3px solid #fff;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }
  .logo h1 {
    -webkit-transition: all 500ms ease 450ms;
    -moz-transition: all 500ms ease 450ms;
    -ms-transition: all 500ms ease 450ms;
    -o-transition: all 500ms ease 450ms;
    transition: all 500ms ease 450ms;
    -webkit-transform: translate(-200%, 0);
    -moz-transform: translate(-200%, 0);
    -ms-transform: translate(-200%, 0);
    -o-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
    font-size: 530%;
    font-weight: 400;
    font-family: "Playfair Display", Georgia, serif;
    padding: 0 0 1rem 0; }
    .logo h1 span {
      font-size: 107%; }
  .logo h2 {
    -webkit-transition: all 500ms ease 550ms;
    -moz-transition: all 500ms ease 550ms;
    -ms-transition: all 500ms ease 550ms;
    -o-transition: all 500ms ease 550ms;
    transition: all 500ms ease 550ms;
    -webkit-transform: translate(-200%, 0);
    -moz-transform: translate(-200%, 0);
    -ms-transform: translate(-200%, 0);
    -o-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 0 0 .2rem; }
  .logo a[id*="link"] {
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    color: #fff;
    font-size: 65%;
    margin: 0 2em; }
    .logo a[id*="link"]:first-child {
      margin-left: .35rem; }

.selfie {
  position: absolute;
  bottom: -15%;
  right: 0;
  left: 0;
  text-align: center;
  filter: grayscale(1);
  -webkit-filter: grayscale(1); }
  .selfie img {
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    padding: .5em;
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    border: 7px solid #fafafa; }

.hero-l, .hero-r {
  -webkit-transition: width 500ms cubic-bezier(0.14, 0.12, 0.6, 0.79) 0s;
  -moz-transition: width 500ms cubic-bezier(0.14, 0.12, 0.6, 0.79) 0s;
  -ms-transition: width 500ms cubic-bezier(0.14, 0.12, 0.6, 0.79) 0s;
  -o-transition: width 500ms cubic-bezier(0.14, 0.12, 0.6, 0.79) 0s;
  transition: width 500ms cubic-bezier(0.14, 0.12, 0.6, 0.79) 0s;
  width: 0%;
  height: 100vh;
  float: left; }

.hero-l {
  background: #AE4B3D; }

.hero-r {
  background: #BB5142; }

.hero-l-inner, .hero-r-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: column nowrap;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  height: 100%; }

/* About
---------------------------------------- */
.about {
  width: 100%;
  background-color: #fafafa;
  color: #222; }
  .about .container {
    max-width: 70%;
    text-align: left;
    font-size: 20px; }
  .about .row:first-of-type i {
    margin: 2em 0 .5em 0; }
  .about a {
    position: relative;
    color: #BB5142;
    text-overflow: hidden; }
    .about a:after {
      -webkit-transition: all 300ms ease 0s;
      -moz-transition: all 300ms ease 0s;
      -ms-transition: all 300ms ease 0s;
      -o-transition: all 300ms ease 0s;
      transition: all 300ms ease 0s;
      content: "";
      position: absolute;
      bottom: -10%;
      left: 0;
      width: 100%;
      background: #AE4B3D;
      height: 2px; }
    .about a:hover, .about a:focus, .about a:active {
      text-decoration: none; }

.about-inner {
  padding: 2em .5em;
  color: #743229;
  line-height: 1.4; }
  .about-inner i {
    display: block;
    margin: .5em 0;
    text-align: center;
    color: #AE4B3D; }

/* Skills */
.skills {
  width: 100%;
  padding: 2rem 0 0 0;
  background-color: #fff;
  color: #52879C; }
  .skills .container {
    padding-top: 3rem;
    padding-bottom: 3rem; }

.skill-box {
  position: relative;
  padding: 2em 1em;
  margin: 1em 0;
  box-shadow: 1px 1px 3px 1px rgba(116, 50, 41, 0.2);
  overflow: hidden;
  color: #AE4B3D; }
  .skill-box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3%;
    background: #AE4B3D;
    height: 100%; }
  .skill-box h2 {
    font-size: 200%;
    padding: 0 0 .5em 0; }
  .skill-box ul {
    list-style: none;
    color: #743229; }
    .skill-box ul li {
      padding-bottom: .25em; }

.skill-box-inner {
  padding-left: 5%; }

/* Projects
---------------------------------------- */
.projects {
  position: relative;
  width: 100%;
  background-color: #fafafa; }

.projects-container {
  padding: 2em 0 0 0; }
  .projects-container h1 {
    font-weight: 300; }

.proj-box {
  -webkit-transition: all 200ms ease 0s;
  -moz-transition: all 200ms ease 0s;
  -ms-transition: all 200ms ease 0s;
  -o-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  margin: 0 auto;
  padding: 1em 1em 7em 1em;
  max-width: 70%;
  min-height: 330px;
  text-align: center;
  color: #AE4B3D; }
  .proj-box:hover a {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    border-color: #AE4B3D; }

.proj-icon-box {
  margin: 0 auto 1em auto; }
  .proj-icon-box h2 {
    display: inline-block;
    font-weight: 300;
    font-size: 3rem; }

.proj-body h2 {
  padding: 0 0 .3em 0;
  font-size: 40px;
  font-weight: 300;
  font-family: "Times New Roman", Times, Garamond, serif; }
.proj-body p {
  font-size: 20px;
  color: #743229; }
  .proj-body p:first-of-type {
    border-top: 1px solid #2A454F;
    border-bottom: 1px solid #2A454F;
    padding: 1.25em 0;
    margin: 0 0 1rem 0; }
  .proj-body p:not(:first-of-type) {
    display: inline-block;
    margin: 0 1em 1em 1em; }
.proj-body a {
  color: #BB5142;
  text-decoration: none;
  font-size: 20px;
  padding: 0 0 .2em 0;
  border-bottom: 2px solid transparent; }

/* Proj Page
---------------------------------------- */
.proj-info {
  width: 100%;
  background-color: #fff;
  color: #222; }
  .proj-info .container {
    margin-top: 4em;
    padding: 2em 0; }
    .proj-info .container .row {
      margin-bottom: 2em; }
      .proj-info .container .row:last-child {
        margin-bottom: 4em; }

.proj-info-img {
  max-width: 800px;
  border: 3px solid #AE4B3D;
  margin: 0 auto; }
  .proj-info-img.urban {
    text-align: center;
    border: 0; }
    .proj-info-img.urban img {
      max-width: 550px;
      padding: 2em 0; }
    .proj-info-img.urban a {
      color: #000; }
    .proj-info-img.urban h2 {
      padding: 1em 0;
      font-size: 375%;
      font-family: "Playfair Display", serif; }
  .proj-info-img img {
    max-width: 100%; }

.proj-info-text h1 {
  font-size: 30px;
  color: #743229; }
.proj-info-text h3 {
  color: #AE4B3D; }
.proj-info-text p {
  margin: 1em 0; }
.proj-info-text a {
  position: relative;
  color: #BB5142;
  text-overflow: hidden; }
  .proj-info-text a:after {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    background: #AE4B3D;
    height: 2px; }
  .proj-info-text a:hover, .proj-info-text a:focus, .proj-info-text a:active {
    text-decoration: none; }

.proj-info-footer {
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0; }
  .proj-info-footer .dd-btn {
    background: transparent;
    border: 3px solid #AE4B3D;
    font-weight: 400; }
    .proj-info-footer .dd-btn i {
      -webkit-transition: all 200ms ease 0s;
      -moz-transition: all 200ms ease 0s;
      -ms-transition: all 200ms ease 0s;
      -o-transition: all 200ms ease 0s;
      transition: all 200ms ease 0s;
      font-size: 20px;
      opacity: 0;
      padding: 0 0 0 .3em;
      margin-left: -1.7em; }
    .proj-info-footer .dd-btn:hover, .proj-info-footer .dd-btn:focus, .proj-info-footer .dd-btn:active {
      background: transparent;
      color: #BB5142;
      border-color: #AE4B3D; }
      .proj-info-footer .dd-btn:hover i, .proj-info-footer .dd-btn:focus i, .proj-info-footer .dd-btn:active i {
        margin-left: 0;
        opacity: 1; }

.download-icons {
  padding: .5em 0; }
  .download-icons a {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    color: #AE4B3D;
    padding: 0 1em; }
    .download-icons a:hover, .download-icons a:active, .download-icons a:focus {
      color: #743229; }

/* Contact
---------------------------------------- */
.contact {
  position: relative;
  width: 100%;
  padding: 2rem 0 0 0;
  background-color: #fff;
  color: #AE4B3D; }
  .contact .container {
    padding: 2em 0 0 0; }
  .contact .section-footer {
    font-size: 20px; }

#form-contact .col-xs-12 > div {
  max-width: 50%;
  margin: 0 auto 2em auto; }
#form-contact .form-control {
  margin: .25em 0 0 0;
  height: auto;
  color: #AE4B3D;
  padding: 12px 12px;
  border-radius: 4px;
  border-width: 2px;
  border-color: #AE4B3D;
  font-size: 18px;
  outline: none;
  outline: 0;
  box-shadow: none;
  -moz-appearance: none; }
  #form-contact .form-control:invalid {
    border-color: red; }
#form-contact textarea.form-control {
  padding: 10px 12px 45px  12px; }
#form-contact label {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #AE4B3D; }

.btn-default {
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  background: #BB5142;
  color: #fff;
  border: 0;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 60px;
  font-family: sans-serif;
  position: relative;
  overflow: hidden; }
  .btn-default:before, .btn-default:after {
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    content: "";
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 15%;
    background: #863a2f; }
  .btn-default:before {
    left: 0;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg); }
  .btn-default:after {
    bottom: -10px;
    right: -10px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  .btn-default i {
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    font-size: 20px;
    opacity: 0;
    padding: 0 0 0 .4em;
    margin-left: -1.4em; }
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #863a2f;
    color: #fff; }
    .btn-default:hover:before, .btn-default:hover:after, .btn-default:active:before, .btn-default:active:after, .btn-default:focus:before, .btn-default:focus:after {
      background: #BB5142; }
    .btn-default:hover i, .btn-default:active i, .btn-default:focus i {
      margin-left: 0;
      opacity: 1; }

/* Social
---------------------------------------- */
.social {
  position: relative;
  background-color: transparent; }
  .social .container {
    position: relative;
    z-index: 2;
    padding: 1.5em 0; }
  .social:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: #AE4B3D; }
  .social:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: #BB5142; }

.social-icons {
  margin: 0 auto; }
  .social-icons a {
    color: #fff; }
    .social-icons a i {
      font-size: 3.15em;
      -webkit-transition: all 200ms ease 0s;
      -moz-transition: all 200ms ease 0s;
      -ms-transition: all 200ms ease 0s;
      -o-transition: all 200ms ease 0s;
      transition: all 200ms ease 0s; }
      .social-icons a i:hover {
        color: #2A454F; }

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .dd-btn {
    font-size: 24px; }

  .nav-reveal, .nav-inner {
    font-size: 150%; }

  .logo h1 {
    font-size: 575%; }
  .logo h2 {
    font-size: 250%; }
  .logo a[id*="link"] {
    font-size: 75%; }

  .selfie {
    bottom: -13%; }
    .selfie img {
      max-width: 300px; } }
@media (max-width: 992px) {
  .section-title {
    max-width: 60%; }
    .section-title h2 {
      font-size: 300%; }

  .selfie img {
    width: 200px; }

  .skill-flip {
    min-height: 15em; }

  .skill-box-b ul:first-of-type {
    width: 100%; }

  .project-skill {
    display: inline-block;
    padding: 0;
    color: #fff;
    margin: 0 .75em 0 .75em;
    border-radius: 0;
    background-color: transparent; }

  .proj-info-img {
    max-width: 750px; }

  .contact {
    min-height: 450px; } }
@media (max-width: 768px) {
  .section-footer {
    max-width: 95%; }

  .logo {
    text-align: center;
    padding: 1rem; }
    .logo h1 {
      font-size: 500%; }
    .logo h2 {
      font-size: 26px; }

  .selfie {
    bottom: -18%; }

  .about .container {
    max-width: 100%;
    text-align: center; }

  /* Projects */
  .projects-container {
    margin: 1em 0 1em 0; }
    .projects-container h1 {
      text-align: center; }

  .proj-box {
    border: 0;
    padding-bottom: 4em;
    max-width: 100%; }

  .proj-body p:not(:first-of-type) {
    display: block;
    margin: 1em 0; }

  .proj-icon-box h2 {
    font-size: 2.25rem; }

  .proj-info-img {
    max-width: 500px;
    margin: 1em auto 1em auto; }
    .proj-info-img.urban img {
      max-width: 100%; }

  /* Skills */
  .section-title h2 {
    font-size: 235%; }

  .skill-box-inner {
    text-align: center; }

  .skill-section p:nth-child(1) {
    margin-top: 2em; }

  .skill-section p:nth-child(3) {
    margin-top: 2em; }

  /* Contact */
  .contact {
    min-height: 600px;
    height: auto; }

  #form-contact .col-xs-12 > div {
    max-width: 100%; }

  /* Social */
  .social-icons a i {
    margin: .3em 0; } }
@media (max-width: 767px) {
  /* Projects */
  .projects > .container-fluid {
    position: relative;
    top: auto;
    -webkit-transform: none;
    transform: none; } }
@media (max-width: 745px) {
  /* Nav */
  .navbar-fixed-top {
    visibility: visible; }

  /* Projects */
  .project-desc {
    margin: 0 0 6em 0; } }
@media (max-width: 640px) {
  /* Main */
  .main-container img {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none; }

  /* About */
  .about .col-md-4:nth-child(2) p {
    margin-top: 2em;
    margin-bottom: 2em; }

  .skill-box-b ul:first-of-type, .skill-box-b ul:last-of-type {
    float: none !important;
    width: 100% !important; }

  /* Contact */
  .social-icons a {
    display: block; }

  .social-icons a:nth-child(2) i {
    padding: .15em 0; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo h1 {
    font-size: 500%; }
  .logo h2 {
    font-size: 230%; }

  .selfie img {
    max-width: 200px; } }
@media (max-width: 480px) {
  .section-title {
    max-width: 90%; }

  .logo {
    top: 50%;
    max-width: 90%;
    padding: 1.5rem .5rem; }
    .logo h1, .logo h2 {
      -webkit-transition: all 200ms ease 0s;
      -moz-transition: all 200ms ease 0s;
      -ms-transition: all 200ms ease 0s;
      -o-transition: all 200ms ease 0s;
      transition: all 200ms ease 0s; }
    .logo h1 {
      font-size: 300%; }
    .logo h2 {
      text-align: center;
      font-size: 105%; }
    .logo a[id*="link"] {
      font-size: 55%;
      margin: 0 1.3em; }

  .selfie {
    display: none;
    bottom: -20%; }
    .selfie img {
      max-width: 155px; }

  .main-container .header {
    display: none; }

  /* About */
  .about .col-md-4:nth-child(2) p {
    margin-top: 0;
    margin-bottom: 0; }

  /* Skills */
  .skill-flip {
    min-height: 22em; }
    .skill-flip ul {
      padding: 0 0 0 .85em;
      list-style: square;
      list-style-color: #AE4B3D; }

  /* Projects */
  .project-desc p {
    text-align: center; }

  .proj-info .col-sm-7 {
    padding: 0; }

  .proj-info-logo h1 {
    font-size: 225%; }

  .proj-info-img {
    max-width: 98%; }

  /* Social */
  .social {
    min-height: 450px; }

  .social-icons a i {
    font-size: 3.5em; } }
@media (width: 768px) and (height: 1024px) {
  .dd-btn {
    font-size: 26px; }

  .logo h1 {
    font-size: 500%; }
  .logo h2 {
    font-size: 200%; }

  .selfie img {
    width: 250px; } }

/*# sourceMappingURL=index.css.map */
