/* Variables
---------------------------------------- */
$bg-color:#DAEAEF;
$head-color:#FF3D2E;
$bottom-color:#252426;
$main-color:#f5f5f5;
$about-color:#232829;
$skills-color:#72432F;
$projects-color:#232829;
$contact-color:$skills-color;
$head-text-color:#fff;
$bar-1-color:#F3825A;
$bar-2-color:#F3825A;

/* Mixins
---------------------------------------- */
@mixin center() {
  margin:0 auto;
  display:block;
  text-align:center;
}

@mixin transition($prop: all, $dur: 200ms, $timing: ease) {
  -webkit-transition:$prop $dur $timing;
  -moz-transition:$prop $dur $timing;
  -o-transition:$prop $dur $timing;
  transition:$prop $dur $timing;
}

/* Global
---------------------------------------- */
html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  color:#feffff;
  font-family:"Helvetica Neue Light", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:200;
  font-size:16px;
}
body {
  background-image:url("../res/lightbulb-on-wood.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
}

/* Firefox & IE fix */
ul {
  padding:0;
}

/* No underline
---------------------------------------- */
.no-dec {
  list-style-type: none;
  text-decoration:none;
  -webkit-padding-start:0;
  &:hover {
    text-decoration:none;
  }
  &:focus {
    text-decoration:none;
  }
}

/* Splendid.css Overrides
---------------------------------------- */
.spl-btn {
  background-color:$about-color;
  padding:.85em 4em;
  &:hover {
    color:$about-color;
  }
}
.spl-grow-bl:before {
  background-color:#fff;
}
.content p {
  margin:0;
}

/* Above fold */
.navbar-fixed-top {
    visibility:hidden;
}

.main-container {
  height: 100%;
  white-space: nowrap;
  text-align: center;
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%; 
  }
  .test {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width:100%;
  }
}

.header {
  @include center();
  font-size:24px;
  line-height: 24px;
  height:60px;
  position:absolute;
  top:1em;
  left:0;
  right:0;
  a {
    color:#eee;
    padding:0 20px .5em 20px;
    letter-spacing:1px;
    
    @include transition();
    &:hover {
      text-decoration:none;
      border-bottom:1px solid #eee;
    }
  }
}
.container .col-md-4 p {
  text-align:justify;
  padding:1em;
}
.emphasis {
  font-weight:bold;
}

/* Content */
.content {
  img {
    display:block;
    margin:0 auto;
  }
  .underline {
    border-bottom:1px solid #000;
    width:0%;
    margin:0 auto;
    
    animation: extend .5s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
    -webkit-animation: extend .5s;
    -webkit-animation-delay: .6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: extend .5s;
    -moz-animation-delay: .6s;
    -moz-animation-fill-mode: forwards;
  }
  @keyframes extend {
    from {width:0%;}
    to {width:65%;}
  }
  @-webkit-keyframes extend {
    from {width:0%;}
    to {width:65%;}
  }
  @-moz-keyframes extend {
    from {width:0%;}
    to {width:65%;}
  }
  
  .logo {
    color:$head-text-color;
    font-size:100px;
    text-align:center;
    font-family:"Pacifico", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-weight:200;
    text-shadow:-15px -5px 15px #000;

    @include transition();
  }
  .headline {
    font-family:"Playfair Display", Georgia, Times, serif;
    letter-spacing: 1px;
    font-weight:200;
    color:$head-text-color;
    font-size:20px;
    text-align:center;
    margin:-10px 0 0 0;
    opacity:0;
    text-shadow:1px 0 5px #000;
    
    animation: move-left .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation: move-left .5s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: move-left .5s;
    -moz-animation-delay: 1s;
    -moz-animation-fill-mode: forwards;

  }
  @keyframes move-left {
    from {}
    to {margin:.5em 0 0 0; opacity:1;}
  }
  @-webkit-keyframes move-left {
    from {}
    to {margin:.5em 0 0 0; opacity:1;}
  }
  @-moz-keyframes move-left {
    from {}
    to {margin:.5em 0 0 0; opacity:1;}
  }
}
.btn {
  background-color:#555;
}
#resume-btn {
  margin:0 0 -6em 0;
  opacity:0;
  visibility: hidden;

  animation: enter .5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation: enter .5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: enter .5s;
  -moz-animation-delay: 2s;
  -moz-animation-fill-mode: forwards;
}
@keyframes enter {
  from {}
  to {visibility:visible; margin:2em 0 0 0; opacity:1;}
}
@-webkit-keyframes enter {
  from {}
  to {visibility:visible; margin:2em 0 0 0; opacity:1;}
}
@-moz-keyframes enter {
  from {}
  to {visibility:visible; margin:2em 0 0 0; opacity:1;}
}


.bar {
    position:absolute;
    left:0;
    right:0;
    top:100%;
    width:100%;
    height:10px;
    background-color:$bg-color;
    margin:auto;
    div {
      position:relative;
      display:block;
      width:50%;
      height:100%;
      float:left;
    }
}
.bar-in:nth-child(1) {
  background-color:$bar-1-color;
}
.bar-in:nth-child(2) {
  background-color:$bar-2-color;
}

.slide-in {
  animation: slide-in 200ms;
  animation-fill-mode: forwards;
  -webkit-animation: slide-in 200ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: slide-in 200ms;
  -moz-animation-fill-mode: forwards;
  -o-animation: slide-in 200ms;
  -o-animation-fill-mode: forwards;
}
@keyframes slide-in {
  to {margin-top:0;opacity:1;}
}
@-webkit-keyframes slide-in {
  to {margin-top:0;opacity:1;}
}
@-moz-keyframes slide-in {
  to {margin-top:0;opacity:1;}
}






/* About */
.about {
  float:left;
  width:100%;
  height:350px;
  background-color:$about-color;
  .container {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  a {
    position:relative;
    color:#fff;
    &:after {
      content:"";
      position:absolute;
      bottom:-10%;
      left:0;
      right:0;
      height:5%;
      background:rgba(255,255,255,.55);

      @include transition($dur: 300ms);
    }
    &:hover, &:focus, &:active {
      text-decoration:none;
      &:after {
        bottom:0;
        height:100%;
      }
    }
  }
}


/* Skills */
.skills {
  float:left;
  width:100%;
  height:auto;
  min-height:100%;
  background-color:$skills-color;
  .bar {
    position:absolute;
    left:0;
    right:0;
    top:auto;
    width:100%;
    height:10px;
    background-color:$bg-color;
    margin:auto;
    div {
      position:relative;
      display:block;
      width:50%;
      height:100%;
      float:left;
    }
  }
  .bar-in:nth-child(1) {
    background-color:$bar-1-color;
  }
  .bar-in:nth-child(2) {
    background-color:$bar-2-color;
  }
}
.skill-section {
  margin:0 0 3em 0;
  h1 {
    font-weight:100;
    font-family:"Pacifico";
  }
  i {
    @include transition();
    /*
    &:hover {
      text-shadow:0px 10px 10px #000;
    }
    */
  }
}
.row:nth-child(2) .skill-section {
  margin:3em 0;
}
/*
.section-title {
  position:relative;
  top:2em;
  left:2em;
  z-index:2;
  width:200px;
  background-color:#000;
  height:auto;
  h2 {
    padding:.75em .25em .15em .5em;
  }
}
.section-content {
  position:relative;
  z-index:1;
  background-color:rgba(255, 255, 255, .7);
  margin:0 3em;
  height:95%;
  min-height:500px;
  h2 {
    color:#000;
  }
  .skills-container {
    position:relative;
    top:2em;
    margin:0 1em;
    padding-bottom:4em;
    p {
      font-weight:bold;
      display:inline-block;
      border:2px solid #000;
      margin:5px 10px;
      padding:10px 17px;
      color:#000;
      max-width:300px;
      width:auto;
      background-color:transparent;
      text-align:center;
    }
  }
}
*/





/* Projects */
.projects {
  position:relative;
  float:left;
  width:100%;
  height:auto;
  min-height:100%;
  background-color:$projects-color;
  .bar {
    position:absolute;
    left:0;
    right:0;
    top:0;
    width:100%;
    height:10px;
    background-color:$bg-color;
    margin:auto;
    div {
      position:relative;
      display:block;
      width:50%;
      height:100%;
      float:left;
    }
  }
  h1 {
    position:absolute;
    left:0;
    right:0;
    top:1.5em;
    font-weight:300;
    text-align:center;
  }
  .bar-in:nth-child(1) {
    background-color:$bar-1-color;
  }
  .bar-in:nth-child(2) {
    background-color:$bar-2-color;
  }
  
  .container-fluid {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
  }
}


/* Enabled for vertical-align of Angular switcher. */
/*
.test {
  position:relative;
  min-height:100%;
  height:100vh;
}
*/

/* New Projects layout
---------------------------------------- */
.projects-container {
  margin:1em 0;
  h1 {
    font-weight:300;
  }
}
.proj-box {
  text-align:center;
  margin:0 auto;
  border:1px solid #eee;
  min-height:400px;
  border-radius:4px;
  padding:1em;
  max-width:300px;
  min-height:440px;

  @include transition();
  &:hover {
    background-color:$bar-1-color;
    border-color:$bar-1-color;
    color:$projects-color;
    .proj-icon-box {
      border-color:$projects-color;
    }
    a {
      color:inherit;
      &:hover {
        border-color:inherit;
      }
    }
  }
}
.proj-icon-box {
  border-radius:50%;
  background:transparent;
  border:3px solid #fff;
  width:200px;
  height:200px;
  line-height:16em;
  margin:0 auto;
  i {
    font-size:6em;
  }
}
.proj-body {
  a {
    color:#fff;
    text-decoration:none;
    font-size:18px;
    &:hover {
      border-bottom:1px solid #fff;
    }
  }
}







/* Contact */
.contact {
  position:relative;
  float:left;
  width:100%;
  height:350px;
  min-height:350px;
  background-color:$contact-color;
  .bar {
    position:absolute;
    left:0;
    right:0;
    top:0;
    width:100%;
    height:10px;
    background-color:$bg-color;
    margin:auto;
    div {
      position:relative;
      display:block;
      width:50%;
      height:100%;
      float:left;
    }
  }
  .bar-in:nth-child(1) {
    background-color:$bar-1-color;
  }
  .bar-in:nth-child(2) {
    background-color:$bar-2-color;
  }
  .container {
    position: relative;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.contact-icons {
  margin:0 auto;
  a {
    color:#fff;
    i {
      //margin:0 .5em;
      font-size:6em;
      @include transition();
      &:hover {
        text-shadow:0px 10px 10px #000;
      }
    }
  }
}







//@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//}


@media (max-width:992px) {
  .project-skill {
    display:inline-block;
    padding:0;
    color:#fff;
    margin:0 .75em 0 .75em;
    border-radius:0;
    background-color:transparent;
  }
}


@media (max-width:768px) {
  /* Background */
  body {
    //background-position:80%;
    //background-image:none;
    background-color: $bar-1-color;
    background-repeat: repeat-x; 
    /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($skills-color), to($about-color));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, $about-color, $skills-color);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, $about-color, $skills-color);
    /* IE 10 */
    background: -ms-linear-gradient(top, $about-color, $skills-color);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, $about-color, $skills-color);
  }
  /* Header */
  .header {
    display:none;
    a {
      font-size:16px;
    }
  }
  
  .nav>li {
    display:inline;
    >a {
      display:inline;
    }
  }
  .navbar-default {
    border:none;
    background-color:transparent;
  }
  .navbar-default .navbar-toggle {
    border:none;
    span {
      @include transition();
    }
    &:hover {
      background-color:transparent;
    }
    &:focus {
      background-color:transparent;
    }

    .icon-bar {
      background-color:#ddd;
    }
  }
  .navbar-toggle .icon-bar {
    width:30px;
    height:3px;
  }
  .navbar-default .navbar-collapse {
    background-color:#e7e7e7;
  }


  
  /* Main Content */
  .content img {
    width:325px;
  }

  /* Projects */
  .projects-container {
    margin:1em 0 1em 0;
    h1 {
      text-align:center;
    }
    .col-sm-4:first-child .proj-box {
      margin-top:8em;
    }
  }
  .proj-box {
    border:0;
  }

  /* Skills */
  .skill-section p:nth-child(1) {
    margin-top:2em;
  }
  .skill-section p:nth-child(3) {
    margin-top:2em;
  }

  /* Contact */
  .contact {
    min-height:450px;
    height:450px;
  }
  .contact-icons {
    a {
      i {
        margin:.3em 0;
      }
    }
  }
}
@media (max-width:767px) {
  /* Projects */
  .projects {
    >.container-fluid {
      position:relative;
      top:auto;
      transform:none;
      -webkit-transform:none;
    }
  }
}
@media (max-width:745px) {
  /* Nav */
  .navbar-fixed-top {
    visibility:visible;
  }

  /* Projects */
  .project-desc {
    margin:0 0 6em 0;
  }
}

@media (max-width:640px) {
  /* Main */
  .main-container img {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
  }

  /* About */
  .about {
    min-height:650px;
    .col-md-4:nth-child(2) p {
      margin-top:2em;
      margin-bottom:2em;
    }
  }

  /* Contact */
  .contact-icons a {
    display:block;
  }
  .contact-icons a:nth-child(2) i {
    padding:.15em 0;
  }
}

@media (max-width:480px) {
  /* Main */
  /*
  .content .logo {
    width:300px;
  }
  */
  .content .logo {
    font-size:50px;
  }
  .main-container .header {
    display:none;
  }

  /* Mobile Nav */
  .mobile-nav {
    display:block;
  }

  /* About */
  .about {
    .col-md-4:nth-child(2) p {
      margin-top:0;
      margin-bottom:0;
    }
  }

  /* Projects */
  .project-desc p {
    text-align:center;
  }

  /* Contact */
  .contact {
    min-height:450px;
    height:450px;
  }
  .contact-icons {
    a {
      i {
        font-size:4.5em;
      }
    }
  }
}