.text--gradient {
  background: rgba(255, 0, 0, 0.65);
  /* Old browsers */
  background: -moz-linear-gradient(left, #990000 0%, rgba(255, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #990000 0%, rgba(255, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #990000 0%, rgba(255, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-main', endColorstr='$clr-main-light',GradientType=1 );
  /* IE6-9 */ }

* {
  box-sizing: border-box; }

html,
html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #222;
  font-family: sans-serif;
  font-size: 16px; }

ul {
  padding: 0; }

.accessible {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  visibility: hidden;
  clip-path: 9999px; }

body {
  overflow-x: hidden; }

.nav-reveal {
  -webkit-transition: all 150ms ease-out 0s;
  -moz-transition: all 150ms ease-out 0s;
  -ms-transition: all 150ms ease-out 0s;
  -o-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: .25rem 0;
  text-align: center;
  letter-spacing: 4px;
  font-size: 130%;
  font-weight: 400;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.9); }
  .nav-reveal button {
    color: #990000;
    background: none;
    border: 0; }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .nav-reveal {
      font-size: 150%; } }

nav {
  -webkit-transition: all 150ms ease-out 0s;
  -moz-transition: all 150ms ease-out 0s;
  -ms-transition: all 150ms ease-out 0s;
  -o-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
  position: fixed;
  top: 52px;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  box-shadow: 3px 0 5px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9); }
  .nav-inner {
    font-size: 140%; }
    .nav-inner a {
      display: block;
      padding: 1em 0;
      color: #990000;
      letter-spacing: 1px; }
      .nav-inner a:hover, .nav-inner a:focus, .nav-inner a:active {
        text-decoration: none;
        color: #fff;
        background-color: rgba(153, 0, 0, 0.5);
        outline: 0; }
    @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
      .nav-inner {
        font-size: 150%; } }

.out {
  -webkit-transform: translate(0, -200%);
  -moz-transform: translate(0, -200%);
  -ms-transform: translate(0, -200%);
  -o-transform: translate(0, -200%);
  transform: translate(0, -200%); }

.in {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f8f8; }

.screen {
  -webkit-transition: all 150ms ease-out 0s;
  -moz-transition: all 150ms ease-out 0s;
  -ms-transition: all 150ms ease-out 0s;
  -o-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  pointer-events: none; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch; }

.container--row {
  flex: 1 1 0;
  position: relative; }
  .container--row:first-child {
    padding: 10rem 0 0; }

.container--col {
  flex: 1 1 0;
  margin: 0 5rem;
  border-radius: 6px 6px 0 0;
  color: #222;
  background-color: rgba(255, 0, 0, 0.2);
  font-size: 110%; }

.container--col__inner {
  padding: 1.25rem; }

.container--red {
  background-color: #990000; }

.container__title {
  color: #222;
  background-color: rgba(255, 255, 255, 0.9);
  padding: .15rem .5rem;
  font-size: 400%;
  font-weight: 600;
  letter-spacing: 1px; }

.container__layer {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-height: 200px;
  max-width: 50%;
  background-color: #e6e6e6; }
  .container__layer::before, .container__layer::after {
    content: ' ';
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    height: 120px;
    width: 250px; }
  .container__layer::before {
    bottom: -30px;
    left: -50px; }
  .container__layer::after {
    top: -30px;
    right: -50px; }
  .container__layer p {
    z-index: 3;
    position: relative;
    flex: 1 1 auto;
    margin: 1rem;
    padding: 1.25rem 1rem;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 350%; }
  .container__layer a {
    color: #990000; }
