/* 
  Post
*/

.post {
  font-size: clamp(1rem, 1dvw + 1rem, 1.5rem);

  .emphasize {
    margin-block: 1rem 3rem;
    position: relative;

    animation: grow ease-in-out both;
    animation-timeline: view();
    animation-range: entry 500% exit -100%;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-block-start: 25dvh;
  }

  h1,
  h2,
  h3 {
    word-wrap: break-word;
  }
  
  h2,
  h3 {
    font-weight: 600;
    margin-block: 1lh .25lh;
  }

  h1 {
    font-family: var(--font-body);
    letter-spacing: 2px;
  }

  blockquote {
    border-left: 8px solid var(--light);
    display: block;
    margin-block: 2rem;
    padding: .75rem 0 .75rem 1rem;

    p {
      margin: 0;
    }
  }

  img {
    border: 8px double var(--post-img-border-clr);
    height: auto;
    max-width: 100%;
    padding: 2px;
  }

  img,
  figure {
    margin-block-end: 2rem;
  }

  .summary,
  p {
    margin-block-end: 1.6em;
  }

  .post-content,
  .post-footer {
    max-width: 48ch;
    
    @media (width >= 768px) {
      margin: auto;
    }
  }

  .post-content {
    margin-block-end: 3.6rem;
    padding-block: 2rem;

    > .summary {
      border-block: 1px solid var(--post-summary-border-clr);
      padding-block: 1em;
      font-weight: bolder;
      display: grid;
      gap: .25em;

      &:before {
        content: 'Summary';
        font-size: clamp(12px, .4em, 14px);
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    ol,
    ul {
      margin-block-end: 1.6em;
      padding: revert;

      & li + li {
        margin-block-start: .2lh;
      }
    }

    img {
      margin-left: 50%;
      position: relative;
      transform: translateX(-50%);
      max-width: 100%;
      width: 100dvw;

      animation: reveal ease-in-out both;
      animation-timeline: view();
      animation-range: entry 0% entry 100%;

      @media (prefers-reduced-motion) {
        animation: none;
      }

      @media (width >= 768px) {
        padding: 2rem;
        max-width: 80dvw;
      }
    }
  }

  .post-footer {
    background-color: var(--post-footer-bg-clr);
    border-radius: 2px;
    color: var(--post-footer-fg-clr);
    padding: 2.5rem 2.5rem;
    margin: 0 1rem 6rem;

    @media (width >= 768px) {
      margin-inline: auto;
    }
    
    a {
      color: var(--post-footer-link-fg-clr);
      text-decoration-color: var(--post-footer-link-fg-clr);
      padding-inline: 2px;

      &:after {
        background-color: var(--post-footer-link-fg-clr);
      }
    }
  }

  nav {
    border: 1px solid var(--post-nav-border-clr);
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-direction: column;
    margin-block-end: 12.5dvh;
    padding: 2rem;
    
    @media (width >= 768px) {
      flex-direction: revert;
      justify-content: space-between;
    }
  }
}
