// Imports

@import 'base';

// Variables

$spacing-sm: 3rem;
$spacing-md: 4rem;
$spacing-lg: 5rem;
$spacing-xl: 15rem;

$black-600: #353636;
$grey-100: #f3f4f5;
$white: #fff;

$clr-link: #56558F;

// Styles

body {
  color: $black-600;
  position: relative;
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
}

a {
  color: $clr-link;

  &:hover {
    color: darken($clr-link, 10%);
  }
}

.inner-square {
  @media(min-width: 425px) {
    border-width: $spacing-md;
  }

  @media(min-width: 480px) {
    border-width: $spacing-lg;
  }

  @media(min-width: 1080px) {
    border-width: $spacing-lg $spacing-xl;
  }

  background-color: $grey-100;
  border: $spacing-sm solid $white;
  border-width: $spacing-md $spacing-sm;
  height: 100vh;
  padding: 4rem;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.title {
  @media(min-width: 425px) {
    margin-left: $spacing-md;
  }

  @media(min-width: 480px) {
    margin: 1.6rem 0 0 $spacing-lg;
  }

  @media(min-width: 1080px) {
    margin-left: $spacing-xl;
  }

  left: 0;
  margin: 1rem 0 0 $spacing-sm;
  position: absolute;
  top: 0;
}

.subtitle {
  @media(min-width: 425px) {
    margin-right: $spacing-md;
  }

  @media(min-width: 480px) {
    margin: 1.6rem $spacing-lg 0 0;
  }

  @media(min-width: 1080px) {
    margin-right: $spacing-xl;
  }

  margin: 1rem $spacing-sm 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

.intro {
  @media(min-width: 425px) {
    max-width: 280px;
  }

  @media(min-width: 600px) {
    max-width: 400px;
  }

  font-size: 1.8rem;
  max-width: 250px;
}
