footer
  a(href='https://linkedin.com/in/danieldafoe' target='_blank') LinkedIn
  a(href='https://github.com/danieldafoe' target='_blank') GitHub
  a(href='https://codepen.io/danieldafoe' target='_blank') CodePen
  a(href='https://twitter.com/danieldafoe' target='_blank') Twitter

  include ../partials/_last-update