head
  title=pageTitle
  meta(charset='UTF-8')
  meta(name='description' content=pageDescription)
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  //- Share stuffs
  meta(property="og:title" content=pageTitle)
  meta(property="og:type" content="website")
  meta(property="og:url" content="https://danieldafoe.com")

  //- Blocking JS
  //- This will avoid a flash of light theme if
  //- someone has selected to use the dark theme
  include _load-theme

  //- Stylesheet stuffs
  link(rel='stylesheet' href='../sass/dd.scss')

  //- Google Font stuffs
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&family=Vollkorn:wght@400;700&display=swap" rel="stylesheet")

  //- Favicon stuffs
  link(rel='apple-touch-icon' sizes='180x180' href='../assets/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='../assets/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../assets/favicon-16x16.png')