doctype html
html(lang='en')
  //- Looking for something? Check out the code repository: https://github.com/danieldafoe/danieldafoe.com.

  block head
    include ../partials/_head

  body
    a(href='#main') Skip to main content
    include _ellipses

    .wrapper
      include ../partials/_theme-toggle

      .wrapper__inner
        block nav
          include ../partials/_nav

        main(id='main')
          block main

      include ../partials/_footer

  block scripts
    include ../partials/_js
