@use './mixins' as *;
@use './functions' as func;

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-attachment: scroll;
  background-color: var(--darkest);
  background-image: url('../assets/grid--dark-theme.png');
  color: var(--clr-text);
  min-height: 85vh;
  padding: 0;
  position: relative;

  @include media-bp-up(md) {
    padding-block-end: 4rem;
  }

  &.light {
    --brand-primary: var(--brand-light);
    --clr-background: var(--brand-light);
    --clr-text: var(--brand-dark);
    --code-text: var(--darkest);
    --link-decoration: var(--darkest);
    --link-fg: var(--darkest);
    --link-visited-decoration-clr: var(--darkest);
    --link-visited-fg: var(--darkest);
    --link-visited-focus-bg: var(--darkest);
    --link-visited-focus-fg: var(--lightest);

    background-color: var(--clr-background);
    background-image: url('../assets/grid--light-theme.png');
  }
}

p {
  margin-block-end: 2.84rem;
}

ul {
  list-style-image: '../assets/ellipse-blue.svg';
}

li {
  margin-block-end: 2.84rem;
}

h1 {
  display: inline-block;
}

h2,
h3 {
  margin: 4rem 0 1rem;
}

code {
  background-color: var(--code-background);
  border-radius: 4px;
  color: var(--code-text);
  padding: .35rem .5rem;
}

a {
  color: var(--secondary);
  outline-offset: 4px;
  padding: .16rem .24rem;
  position: relative;
  text-decoration-thickness: 3px;

  &:active,
  &:focus,
  &:hover {
    background-color: var(--secondary);
    color: var(--darkest);
  }

  &:visited {
    color: var(--link-visited-fg);

    &:focus,
    &:hover {
      background-color: var(--link-visited-focus-bg);
      color: var(--link-visited-focus-fg);
    }
  }

  // For skip links
  &[href^='#main'] {
    background-color: var(--skip-link-bg);
    color: var(--skip-link-clr);
    left: 50%;
    padding: 1rem;
    position: fixed;
    top: 2rem;
    transform: translateY(-1000%);

    &:focus {
      transform: translateX(-50%);
    }
  }

  &.btn {
    background-color: var(--primary);
    border-radius: 6px;
    color: var(--darkest);
    display: inline-block;
    padding: 1.24rem 1.64rem;
    text-decoration: none;

    &:after {
      content: initial;
    }
  }
}
