*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: -webkit-fill-available;
}

body {
  @include background-color(brand-primary);
  @include color(white);
  font-family: $font;
  font-size: 1.6em;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  padding: 0;
  position: relative;
}

h1 {
  font-family: $font;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  letter-spacing: 2px;
  margin: 4rem 0 1rem;
}

a {
  @include color(link);
  font-weight: 400;
  position: relative;
  transition: color 200ms;

  &:active,
  &:focus,
  &:hover {
    @include color(link-hover);

    &::after {
      @include background-color(link-hover);
    }
  }
}

li {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

strong {
  font-weight: 600;
}
