*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-bg);
  color: var(--body-clr);
  font-family: $font;
  font-size: 1.6em;
  line-height: 1.5;
  padding: 0;
  position: relative;
}

a[href^='#'] {
  background-color: var(--skip-link-bg);
  color: var(--skip-link-clr);
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  transform: translateY(-1000%);

  &:focus {
    transform: translateX(-50%);
  }
}

h1 {
  font-size: 7rem;
}

button {
  border: 0;
  display: block;
  padding: 1.6rem 3.2rem;

  &:focus,
  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: var(--brand-dark);
    color: var(--white);
  }

  &.secondary {
    background-color: var(--white);
    color: var(--brand-dark);
  }
}

// Helpers

.btn {
  background-color: var(--brand-dark);
  color: var(--white);
  display: inline-block;
  padding: 1.6rem 3.2rem;
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: lighten(#002395, 10%);
  }

  &.secondary {
    background-color: var(--white);
    color: var(--brand-dark);
    
    &:focus,
    &:hover {
      background-color: darken(#fff, 10%);
    }
  }

}

.strike {
  text-decoration: line-through;
}