@use 'mixins' as *;
@use 'functions' as func;

.wrapper {
  margin: 0 auto;
  max-width: 85%;
  min-height: 95vh;
  position: relative;
  z-index: func.z-index(main);

  @include media-bp-up(md) {
    max-width: 55%;
  }

  &__inner {
    @include media-bp-up(xl) {
      display: flex;
      gap: 6rem;
      margin-block-start: 16rem;
    }
  }
}

main {
  margin-block-start: 8rem;

  @include media-bp-up(md) {
    margin-block-start: 8rem;
  }

  @include media-bp-up(lg) {
    margin-block-start: 6rem;
  }

  @include media-bp-up(xl) {
    margin-block-start: 0;
  }
}
