@use 'functions' as func;

// Property-setting

@mixin background-color($background-color) {
  background-color: func.color($background-color);
  background-color: var(--dd-#{$background-color}, func.color($background-color));
}

@mixin color($color) {
  color: func.color($color);
  color: var(--dd-#{$color}, func.color($color));
}

// Buttons

@mixin set-btn-states {
  &:active,
  &:hover,
  &:focus {
    @content;
  }
}

// Responsiveness

@mixin media-bp-up($bp) {
  @media (min-width: func.breakpoint($bp)) {
    @content;
  }
}
