:root {
  --font: Roboto, Cantarell, 'Segoe UI', 'Helvetica Neue', sans-serif;

  --brand-dark: #222;
  --brand-light: #fff;
  --brand-primary: var(--brand-light);
  --brand-secondary: #2D7CF3;
  --brand-tertiary: #F3EB2D;

  --black: #222;
  --white: #fff;
  
  --body-bg: var(--brand-dark);
  --body-clr: var(--brand-light);

  --skip-link-bg: var(--brand-dark);
  --skip-link-clr: var(--brand-light);
}

$breakpoints: (
  xs: 320px,
  sm: 385px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$z-indices: (
  ellipse: 1,
  main: 2
);