$font: Roboto, Cantarell, 'Segoe UI', 'Helvetica Neue', sans-serif;

:root {
  --brand-dark: #111;
  --brand-light: #e3e3e3;
  --brand-primary: var(--brand-dark);

  --black: #111;
  --white: #fff;
  
  --body-bg: var(--brand-dark);
  --body-clr: var(--brand-light);
  --intro-bg: var(--brand-light);
  --link: #fff;
  --link-hover: #d29abb;
  --section-secret: #25523B;
  --skip-link-bg: var(--brand-light);
  --skip-link-clr: var(--brand-dark);

  @media (prefers-color-scheme: light) {
    --body-bg: var(--brand-light);
    --body-clr: var(--brand-dark);
    --brand-primary: var(--brand-light);
    --intro-bg: var(--brand-dark);
    --link: var(--brand-dark);
    --skip-link-bg: var(--brand-dark);
    --skip-link-clr: var(--brand-light);
  }
}

$breakpoints: (
  xs: 320px,
  sm: 385px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
