---
layout: page.njk
title: 'Use of AI - Daniel R. Dafoe'
eleventyExcludeFromCollections: true
---

<body class="zen ai">
  <main>
    {# use visually hidden class for this #}
    {# <h1 >
      Artificial Intelligence
    </h1> #}
    <span class="heading">
      Artificial
    </span>
    <p>
      I use no AI on this website. Every bit of code and every character of content is human-written.
    </p>
    <span class="heading">
      Intelligence
    </span>
  </main>
</body>
