---
layout: page.njk
title: 'Use of AI - Daniel R. Dafoe'
eleventyExcludeFromCollections: true
---

<body class="zen ai">
  <main>
    <h1>
      artificial intelligence
    </h1>

    <p>
      This website contains 0 uses of AI.
    </p>
  </main>
</body>
