---
layout: page.njk
title: 'Perspectives by Daniel R. Dafoe'
description: 'Musings on usability, philosophy, and anything else that grips me.'
eleventyExcludeFromCollections: true
---

<body class="zen blog">
  <main class="wrapper">
    <div>
      <nav>
        <ul>
          <li>
            <a href="/" title="Back to home">
              <svg viewBox="0 0 291 162" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M274 47.1025C231.5 20.6215 113.694 -7.7993 82.5972 43.6215C51.5 95.0424 158.447 151.243 171.474 146.622C184.5 142 229.498 115.323 134.018 119.5C14.6688 124.721 50.2205 43.1635 188.298 98.9316M274 47.1025C284.5 55.5001 218.689 89.6586 188.298 98.9316M274 47.1025C261.197 29.9095 25.7785 108.174 15.6211 74.9486C5.46369 41.7229 122.323 119.062 188.298 98.9316" stroke="#FFF7D5" stroke-width="5" />
                </svg>
            </a>
          </li>
        </ul>
      </nav>

      <h1>
        Perspectives
      </h1>
  
      {% set allPosts = collections.posts | sortCollection %}
      {# 
        Need to add roles since Safari will remove semantics 
        due to using `list-style-type: none` 😢
      #}
      <ul class="latest-perspectives" role="list">
        {% for post in allPosts  %}
          <li role="listitem">
            <a href="{{ post.url }}">
              {{- post.data.title -}}
            </a>
          </li>
        {% endfor %}
      </ul>
  
      {# <div class="all-perspectives">
        <a href="/posts/">
          all posts
        </a>
      </div> #}
    </div>
  </main>
</body>
