---
layout: page.njk
title: 'Perspectives by Daniel R. Dafoe'
description: 'Musings on usability, philosophy, and anything else that grips me.'
eleventyExcludeFromCollections: true
---

<body class="zen blog">
  <main class="wrapper">
    <div>

      <h1>
        Perspectives
      </h1>
  
      {% set allPosts = collections.posts | sortCollection %}
      {# 
        Need to add roles since Safari will remove semantics 
        due to using `list-style-type: none` 😢
      #}
      <ul class="latest-perspectives" role="list">
        {% for post in allPosts  %}
          <li role="listitem">
            <a href="{{ post.url }}">
              {{- post.data.title -}}
            </a>
          </li>
        {% endfor %}
      </ul>
  
      {# <div class="all-perspectives">
        <a href="/posts/">
          all posts
        </a>
      </div> #}
    </div>
  </main>
</body>
