---
layout: page.njk
title: 'educator - daniel r. dafoe'
eleventyExcludeFromCollections: true
---

<body class="zen educator">
  <main>
    <h1>
      educator
    </h1>

    <p>
      From 2021 to 2022, I was a <strong>Professor</strong> and <strong>Curriculum Developer</strong> for <a href='https://www.georgebrown.ca/programs/web-development-front-end-design-program-postgraduate-g418'>a&nbsp;postgraduate&nbsp;program</a> in web development at George Brown College in Ontario, Canada.
    </p>

    <p>
      I created course material, lesson plans, assignments, and final projects for 3 courses in this post-graduate program:
    </p>

    <ul>
      <li>Front-End Application Architecture (2021)</li>
      <li>Applied Interface Design (2022)</li>
      <li>Applied Interface Development (2022)</li>
    </ul>
  </main>
</body>
