---
layout: page.njk
eleventyExcludeFromCollections: true
---

<body class="zen home">
  <main>
    <h1>
      daniel r. dafoe
    </h1>

    <div class="bio">
      Designer.
      <a href='https://github.com/danieldafoe'>Web&nbsp;engineer</a>.
      <a href='https://goodreads.com/danieldafoe'>Reader</a>.
      <a href='/blog'>Writer</a>.
      <a href='https://instagram.com/danieldafoe'>Photographer</a>.
      <a href='/educator'>Educator</a>.
      <a href='https://www.linkedin.com/posts/danieldafoe_today-im-excited-to-start-a-new-journey-activity-6992865388195631104-dchH'>Accessibility&nbsp;expert</a>.
      Fitness-obsessed.
      Therapy-goer.
      Linguistics&nbsp;enthusiast.
      Herbivore.
      {# <br/>
      <br/> #}
      {# <p>
        <a href='/resolutions'>2025 resolutions</a>
      </p> #}
    </div>
  </main>
</body>