---
layout: page.njk
eleventyExcludeFromCollections: true
---

<body class="home">
  <main class="wrapper">
    <p>
      Year of the horse edition
    </p>

    <h1>
      Daniel</br>Dafoe
    </h1>

    <nav>
      <ul>
        <li>
          <a href='/blog'>Blog</a>
        </li>
        <li>
          <a href='https://github.com/danieldafoe'>GitHub</a>
        </li>
        <li>
          <a href='https://linkedin.com/in/danieldafoe'>LinkedIn</a>
        </li>
      </ul>
    </nav>
  </main>
</body>