
<!--
=====
Welcome, visitor. I couldn't help but notice you're inspecting my source code. If you have any questions or want to learn about my process, feel free to fill out the contact form and I will be in touch. Thank you.

P.S. As this code is all publicly available on my github, feel free to take and modify as you please.
=====
--><!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="author" content="Daniel Dafoe">
    <meta property="og:site_name" content="Development, Content Writing, and Creativity by Daniel Dafoe">
    <meta property="og:url" content="http://danieldafoe.com">
    <meta property="og:image" content="http://danieldafoe.com/res/og-bg.png">
    <meta property="og:description" content="Daniel Dafoe is a Mobile and Web Developer based in Burlington, Ontario who is constantly expanding his skills in the areas of Front End Web and Mobile Development.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Web, Mobile, and Creativity by Daniel Dafoe">
    <meta name="twitter:title" content="A Portfolio of Daniel Dafoe">
    <meta name="twitter:site" content="@danieldafoe">
    <meta name="twitter:domain" content="danieldafoe.com">
    <meta name="twitter:image" content="http://danieldafoe.com/res/og-bg.png">
    <meta name="twitter:creator" content="@danieldafoe">
    <meta name="theme-color" content="#1663c7">
    <meta name="description" content="Daniel Dafoe is an Inclusive Developer and Creative Writer in Burlington, Ontario.">
    <meta property="og:title" content="A Portfolio of Web, Mobile, Content, and Creative">
    <title>Daniel Dafoe - Inclusive Developer and Part-Time Human in Burlington, Ontario</title>
    <link rel="favicon" href="favicon.ico">
    <link rel="canonical" href="http://danieldafoe.com">
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/vendor/animate.css" rel="stylesheet">
    <link href="css/vendor/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display|Comfortaa" rel="stylesheet" type="text/css">
  </head>
  <body ontouchstart=""><a href="#about" class="accessible">Skip to Main Content</a>
    <nav aria-label="Primary" class="out">
      <div class="nav-inner"><a href="http://danieldafoe.com/blog" tabindex="-1">Blog</a><a href="#skills" tabindex="-1">Skills</a><a href="#projects" tabindex="-1">Experience</a><a href="#contact" tabindex="-1">Contact</a></div>
    </nav>
    <div id="top" class="wrapper container-fluid">
      <div class="nav-reveal">
        <button type="button" aria-expanded="false" alt="Open main menu"><i class="fa fa-bars"></i> MENU</button>
      </div>
      <div role="banner" aria-label="Menu and page info" class="main-container row">
        <div class="logo">
          <h1>Daniel R. Dafoe</h1>
          <p>Inclusive Developer</p>
        </div>
      </div>
      <section class="section--social-bar">
        <div class="top-social"><a id="linkedin-link" target="_blank" title="LinkedIn" href="http://ca.linkedin.com/in/danieldafoe" class="link--plain"><i class="fa fa-linkedin fa-5x"></i> <span class="accessible">LinkedIn profile</span></a><a id="twitter-link" target="_blank" title="Twitter" href="http://twitter.com/danieldafoe" class="link--plain"><i class="fa fa-twitter fa-5x"></i> <span class="accessible">Twitter profile</span></a><a id="github-link" target="_blank" title="Github" href="https://github.com/danieldafoe" class="link--plain"><i class="fa fa-github fa-5x"></i> <span class="accessible">Github profile</span></a><a id="codepen-link" target="_blank" title="Codepen" href="https://codepen.io/danieldafoe" class="link--plain"><i class="fa fa-codepen fa-5x"></i> <span class="accessible">Codepen profile</span></a></div>
      </section>
      <main id="about" aria-label="Introductory content" class="section--about">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="about-inner">
                <h3>Introduction</h3>
                <p>
                  I'm Daniel Dafoe. I'm honest, enthusiastic, optimistic, hard-working, and quick-witted.
                  Adjectives aside, what you'll first notice about me is that my ears perk up when I discuss web development, usability, and the English language&mdash;and even higher if there's pizza involved.
                </p>
                <p>On the internet you will find <a href="http://medium.com/@danieldafoe">write stories</a>, <a href="http://github.com/danieldafoe" target="_blank">contribute to open source</a>, and make some money <a href="http://www.redbubble.com/people/danieldafoe/works/9557864-hello-my-name-is-or-1-1?p=sticker" target="_blank">selling stickers and clothing</a> I design.
                            
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="about-inner about-inner--middle">
                <h3>Work Ethic</h3>
                <p>I don't run on AA batteries. Instead, I'm the kind of developer that runs on lithium ion <em>rechargeable</em> batteries. This kind of upgrade means that I can work harder and longer than alkaline-based developers, and, at times, only require a quick recharge 
                  (<span class="emoji">&#x1F355</span>) before finishing an arduous task.
                  
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-3">
              <div class="about-inner about-inner--bottom">
                <h3>Human Stuff</h3>
                <p>
                  When I'm not manipulating pixels on a screen, I enjoy doing more humanlike activities. I love to read classic literature pre 1900s, write short stories, watch plays and musicals, and work
                  on my personal fitness.
                </p>
                <p>
                  Oh! I'm also a self-described grammar evangelist.
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <section id="skills" ng-app="skills-app" ng-controller="SkillSectionController as sectionList" aria-label="Skills" class="section--skills">
        <div class="section-title">
          <h2>Knowledge</h2>
        </div>
        <div class="skill-search">
          <label for="skill-search-input" class="skill-search-input-label">NEW! Want to know if I possess a skill you're looking for? Enter a word or phrase here to quickly find out.</label>
          <input type="text" id="skill-search-input" placeholder="Enter a phrase or word to filter skills" ng-model="sectionList.searchTerm" aria-hidden="true" class="skill-search-input form-control">
          <p ng-hide="(sectionList.sections | filter:sectionList.searchTerm).length" class="skill-search-input-error">
            Sorry, no results for your filter.
            
          </p>
        </div>
        <div class="card-container">
          <div ng-repeat="section in sectionList.sections | filter:sectionList.searchTerm" class="card">
            <div class="card-top">
              <h3>{{section.title}}</h3>
            </div>
            <div class="card-bottom">
              <div class="skill--items">
                <ul>
                  <li ng-repeat="item in section.items | filter:sectionList.searchTerm">{{item.item}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact" aria-label="Contact information" class="section--contact">
        <div class="section-title">
          <h2>Contact</h2>
        </div>
        <div class="section-footer">
          <div class="footer-text">
            <p>
              I'm available for freelance work as a developer or writer. Or, if you're looking for a front-end developer to help you code an open source project, I'd love to hear about that too. Besides, what would the web be without open source?
              
            </p>
            <p>
              Use the icons below or the contact form to reach out. No more telegrams, please.
              
            </p>
          </div>
          <form id="form-contact" action="php/send_mail.php" method="post" role="form">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control">
                </div>
                <div class="col-xs-12">
                  <label for="msg">Message</label>
                  <textarea type="text" id="msg" name="msg" class="form-control"></textarea>
                </div>
                <div class="col-xs-12">
                  <button form="form-contact" type="button" value="Submit" name="submit" title="Submit contact form" class="btn btn-lg btn-default"><span id="btn-submit-name">Contact</span><span><i class="fa fa-cog fa-spin"></i></span><span><i class="fa fa-remove"></i></span><span><i class="fa fa-check"></i></span></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section id="colophon" class="social">
        <p><span class="emoji">&#x1F52E</span> Imagined by <a href="" class="link--plain">Daniel Dafoe</a>
          
        </p>
      </section>
    </div>
    <!-- Google Analytics-->
    <!-- Sorry for stalking your every move...I just want to understand you.-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-53844906-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics-->
    <script src="js/vendor/jquery-2.1.1.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/skills-app.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>