---
layout: page.njk
eleventyExcludeFromCollections: true
---

<body class="zen home">
  <main>
      <h1>
        Daniel Dafoe
      </h1>

      <img src="/assets/daniel-and-becky.jpeg" alt="My sister and I riding our tricycles on a deck" />

      <nav>
        <ul>
          <li>
            <a href="/ai">ai</a>
          </li>
          <li>
            <a href="/now">now</a>
          </li>
          <li>
            <a href="/blog">writing</a>
          </li>
          <li>
            <a href="https://instagram.com/danieldafoe">photography</a>
          </li>
        </ul>
      </nav>
  </main>
</body>