---
layout: page.njk
title: 'Now - Daily life of Daniel R. Dafoe'
description: 'What is Daniel R. Dafoe up to now?'
eleventyExcludeFromCollections: true
---

<body class="zen now">
  <main class="wrapper">
    <div>
      <nav>
        <ul>
          <li>
            <a href="/" title="Back to home">
              <img src="/assets/chunky-art--dark.svg" alt="" />
            </a>
          </li>
        </ul>
      </nav>

      <h1>
        now
      </h1>
  
      <p>
        I work at Apple as a Senior Web Accessibility Engineer, leading a team of accessibility engineers to ensure the <a href='https://apple.com/store'>Apple Online Store</a> is accessible.
      </p>
  
      <p>
        I live in California. The weather is a nice change from Toronto, Canada, but other than that it leaves much to be desired.
      </p>
    </div>
  </main>
</body>
