---
layout: page.njk
title: 'now - i am currently daniel dafoe'
description: 'what daniel dafoe is currently doing with his existence'
eleventyExcludeFromCollections: true
---

<body class="zen now">
  <main>
    <div class="wrapper">
      <h1>
        now
      </h1>

      <p>
        I work at Apple as a Senior Web Accessibility Engineer, leading a team of accessibility engineers to ensure the <a href='https://apple.com/store'>Apple Online Store</a> is accessible and inclusive.
      </p>

      <p>
        In May 2025, I'm going to Japan and South Korea. I've always wanted to visit Japan specifically, so I'm incredibly excited. I'm already upping my Japanese language skills through Duolingo. My favourite word I've learned so far (outside Duolingo) is tokidoki ().
      </p>

      <p>
        I live in California. The weather is a nice change from Toronto, Canada, but other than that it leaves much to be desired.
      </p>
    </div>
  </main>

  <footer>
    Created by <a href='https://danieldafoe.com'>Daniel Dafoe</a> from Earth
  </footer>
</body>
