---
layout: page.njk
title: 'Now - Daily life with Daniel R. Dafoe'
description: 'What is Daniel R. Dafoe up to now?'
eleventyExcludeFromCollections: true
---

<body class="zen now">
  <main>
    <div>
      <h1>
        Now
        Now
        Now
        Now
        Now
      </h1>
  
      <img src="/assets/blur.jpeg" alt='A blurry photo with yellow light shafts'>
    </div>

    <p>
      I left Apple to start a company called <strong>Supermodel Labs</strong>. Our goal is to expand intelligence on little machines. Long days and long nights, but it's a fun challenge.
    </p>
  </main>
</body>
