---
layout: page.njk
title: 'All Posts - Daniel R. Dafoe'
eleventyExcludeFromCollections: true
---

<body class="zen posts">
  <main class="wrapper">
    <div>
      <h1>
        Posts
      </h1>

      {% set sortedPosts = collections.posts | sortCollection %}
      <ul>
        {% for post in sortedPosts %}
          <li>
            <a href="{{ post.url }}">
              <span>
                {{- post.data.title -}}
              </span>
              <span id={{ 'post-date-' + post.fileSlug }}>
                {{- post.data.date | prettyDate -}}
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
</body>
</html>
