---
layout: page.njk
title: '2025 Resolutions - Daniel R. Dafoe'
eleventyExcludeFromCollections: true
---

<body class="zen resolutions">
  <main class="wrapper">
    <div>
      <h1>
        2025 Resolutions
      </h1>
  
      <ul>
        <li>I want to read one book every month.</li>
        <li>I want to meditate 5 times per week.</li>
        <li>I want to wake up at 7am every day.</li>
        <li>I want to complete a course on high school science.</li>
        <li>I want to complete a course on exercise science.</li>
        <li>I want to visit 3 new countries.</li>
        <li>I want to get 5 more tattoos.</li>
        <li>I want to become a manager at Apple.</li>
        <li>I want to use all my therapy credits.</li>
        <li>I want to gain 10lbs of muscle.</li>
      </ul>
    </div>
  </main>
</body>
