---
layout: page.njk
title: 'This Website - Daniel R. Dafoe'
---

<body class="zen website">
  <main class="wrapper">
    <div>
      <h1>
        This website
      </h1>

      <p>
        This website is the culmination of my attempts at reaching an aesthetically-pleasing yet minimalistic design.
      </p>

    </div>
  </main>
</body>