.greeting {
  padding-top: 5rem;
  text-align: center;

  @include media-bp-up(lg) {
    padding-top: 17rem;
  }
}

.title {
  font: 400 5rem 'Playfair Display', serif;

  @include media-bp-up(lg) {
    font-size: 9rem;
  }

  @include media-bp-up(xl) {
    font-size: 10rem;
  }
}

.subtitle {
  font: italic 300 3rem 'Dancing Script', cursive;
  margin-top: 2rem;

  @include media-bp-up(lg) {
    font-size: 5rem;
  }
}

.intro {
  &:after {
    background-color: var(--intro-bg);
    border-radius: 50%;
    bottom: 3rem;
    content: '';
    height: 15px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 15px;

    @include media-bp-up(lg) {
      bottom: 14rem;
    }
  }
}

.about {
  .inner {
    column-count: 2;
    column-gap: 3.5em;
    column-width: 23em;
    margin: auto;
    max-width: 85%;

    @include media-bp-up(lg) {
      max-width: 70%;
    }
  }

  p {
    margin-top: 4rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      @include media-bp-up(lg) {
        margin-top: 0;
      }
    }

    &:nth-child(2n) {
      page-break-inside: avoid;
    }
  }
}

footer {
  padding: 5rem 0;
  text-align: center;
  
  p {
    font-size: 2rem;
  }
}

// .secret {
//   @include background-color(section-secret);

//   [draggable] {
//     font-size: 5rem;

//     &:focus,
//     &:hover {
//       cursor: move;
//     }
//   }

//   .drop-area {
//     align-items: center;
//     background-color: pink;
//     border: 1rem outset #fff;
//     border-radius: 8px;
//     display: flex;
//     height: 100px;
//     justify-content: center;
//     width: 100px;
//   }

//   &__puzzle {
//     margin: 5rem 0;

//     &__items,
//     &__areas {
//       display: flex;
//       justify-content: space-around;
//       margin: auto;
//       width: 500px;
//     }

//     &__items {
//       margin-bottom: 5rem;
//     }
//   }
// }