header {
  margin-bottom: 12rem;
  text-align: center;

  @include media-bp-up(md) {
    margin-bottom: 7rem;
    text-align: left;
  }

  @include media-bp-up(lg) {
    margin-bottom: 12rem;
  }
}

main {
  padding: 0 2rem 5rem;
  width: 100%;

  @include media-bp-up(md) {
    padding: 0 0 5rem;
  }
}

.logo {
  border-bottom: 10px solid var(--white);
  border-left: 10px solid var(--white);
  border-right: 10px solid var(--white);
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
  padding: 0 1rem 0 1rem;

  @include media-bp-up(md) {
    border-left: 0;
    border-width: 15px;
    font-size: 7rem;
    padding: 0 2rem 0 1rem;
  }
}


@import 'booking';
@import 'boring';
@import 'home';
@import 'tier-1';
@import 'tier-2';