.tier-2 {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 0;
  width: 100vw;

  .resume-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    width: 100%;

    @include media-bp-up(md) {
      flex-direction: row;
      font-size: 3rem;
    }
  }

  .set-1,
  .set-2 {
    flex: 1 0 0;

    a {
      transition: letter-spacing 100ms ease;
      
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }

      &:focus,
      &:hover {
        ~ a {
          letter-spacing: 5px;
        }
      }
    }
  }

  h1 {
    margin-bottom: 7rem;
  }

  nav {
    flex: 0 1 0;
    padding: 3rem 0;

    @include media-bp-up(md) {
      padding: 0;
    }

    a {
      display: inline-block;
      margin: 0 1rem;
      padding: 0 1rem;

      @include media-bp-up(md) {
        margin: 0;
        padding: 0;
      }
    }
  }

  a {
    color: var(--dd-white);
    display: block;
  }
}
