body {
  // To make the nav work correctly.
  overflow-x: hidden;
}
.nav-reveal {
	@include transition(top 150ms $mdCurve 100ms);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 9999;
	padding: 1rem 0 0 1rem;

  letter-spacing: 4px;
  font-size: 130%;
	font-weight: 400;
	font-family: sans-serif;

  > button {
    padding: 0;
    border: 0;
    color: #fff;
    background: none;
  }
  &.nav-reveal--in {
    top: 0;

    > button {
      color: $clr-gray-light;
    }
  }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 140%;
  }
}
nav {
	@include transition(all 300ms $mdCurve 0s);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	
  text-align: center;
  background-color: rgba(255,255,255,.95);
}
.out {
  display: none;
  opacity: 0;
  z-index: 0;
}
.in {
  display: block;
  opacity: 1;
  z-index: 1;
}
.nav-inner {
  @include transform(translateY(-50%));
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  font-size: 140%;
  font-style: italic;
  font-family: $ff-serif;

  > a {
    display: block;
    padding: 1em 0;

    letter-spacing: 1px;

    color: $clr-main;

    &:hover, &:focus, &:active {
      text-decoration: none;

      outline: none;
			color: #fff;
      background-color: rgba($clr-main, .5);
    }
  }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 150%;
  }
}