- var pageTitle = 'Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';
- var ctaTitle = "Test";

doctype html
html(lang='en')

  include _head

  body
    a(href='#about') Skip to About section

    main
      header
        p.logo dd

      h1 About

  script(type='text/javascript' src='../js/main.js')
  include partials/_analytics
