extends partials/_layout

block prepend head
  - var pageTitle = 'About Me | Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Learn about Daniel Dafoe, a modern human being living on Earth.';

block main
  h1 About me

  p.intro I may not be the writer of Robison Crusoe, but I'm still a great Dafoe.

  h2 Early life

  h2 Diet

  p I only eat fruits, vegetables, and legumes.

  h2 Fun facts

  strong I've never had coffee nor tea.