- var pageTitle = 'Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

  include _head
  link(href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet")

  body
    a(href='#about') Skip to About section

    main.booking
      .booking__inner
        a(href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/danieldafoe?text_color=111111&primary_color=111111'});return false;").
          Schedule time with me
        //- img(src='../assets/daniel-defoe.jpg' alt="Daniel Defoe (spelled with an 'e')")

      a.link--home(href='index.pug') Home

  script(src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async)
  include _analytics