- var pageTitle = 'Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';
- var ctaTitle = "Test";

doctype html
html(lang='en')

  include _head

  body
    a(href='#about') Skip to About section

    main.boring
      .link-farm
        p.
          #[a(href='about.pug') About]
          #[a(href='https://github.com/danieldafoe') Github]
          #[a(href='https://instagram.com/danieldafoe') Instagram]
          #[a(href='https://linkedin.com/in/danieldafoe') LinkedIn]
          #[a(href='https://medium.com/danieldafoe') Medium]
          #[a(href='https://danieldafoe.redbubble.com') Redbubble]
          #[a(href='https://twitter.com/danieldafoe') Twitter]

      a.link--home(href='./index.pug') Home

  include _analytics
