extends partials/_layout

block prepend head
  - var pageTitle = 'Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Expert in web accessibility who\'s passionate about designing and developing inclusive and responsive web experiences.';

block main
  h1 Daniel Dafoe

  p.intro Inclusive designer and software engineer with an optimistic, collaborative, and curious lens on the world.

  p On a spooky day in 2022 when goblins, ghouls, and ghosts invaded the streets, I started working at Apple as a #[strong Senior Web Accessibility Engineer]. I focus on the #[a(href="https://apple.com/store") Apple Online Store].

  p Previous to Apple, I worked on a design system team as a Senior Design Technologist at #[a(href='https://rbc.com') Canada's largest bank]. I spent a lot of my time helping designers and software engineers understand how to create inclusive and accessible experiences.

  p Besides work, I like to practice playing the keyboard. I'm also working on a side project using React Native.

  p
    a.heavy(href='now.pug') Curious what else I do?
