extends partials/_layout

block prepend head
  - var pageTitle = 'Daniel Dafoe | Web Accessibility Engineer in California';
  - var pageDescription = 'Daniel is an expert in web accessibility and front-end engineering from Canada. He is passionate about designing and developing inclusive and responsive web experiences.';

block main
  h1 Hi, I'm Daniel.

  p.intro I'm an inclusive designer and software engineer with a curious, collaborative, and optimistic lens on the world.

  p I work full-time at Apple as a #[strong Senior Web Accessibility Engineer]. My main job is to make sure the #[a(href="https://apple.com/store") Apple Online Store] is usable by everyone. This involves a great deal of coordination, advocacy, education, and technical solutioning.

  p Previous to Apple, I spent 8 years at #[a(href='https://rbc.com') RBC—Canada's largest bank]. I was on product teams as a Technical Lead and Front-End Engineer, and worked as a Senior Design Technologist on a design system team. I also spent a lot of my time helping designers and software engineers understand how to create inclusive and accessible experiences.

  .outro
    a.btn(href='now.pug') Learn what else I've done
