extends partials/_layout

block prepend head
  - var pageTitle = 'Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Expert in web accessibility who\'s passionate about designing and developing inclusive and responsive web experiences.';

block main
  h1 Hi, I'm Daniel.

  p.intro I'm an inclusive designer and software engineer with a curious, collaborative, and optimistic lens on the world.

  p On a spooky day in 2022 when goblins, ghouls, and ghosts invaded the streets in search of candy, I started working at Apple as a #[strong Senior Web Accessibility Engineer]. I ensure the #[a(href="https://apple.com/store") Apple Online Store] is usable by everyone.

  p Previous to Apple, I spent 8 years at #[a(href='https://rbc.com') Canada's largest bank]. I was on product teams as a Front-End Engineer and Technical Lead, and worked as a Senior Design Technologist on a design system team. I also spent a lot of my time helping designers and software engineers understand how to create inclusive and accessible experiences.

  .outro
    a.heavy(href='now.pug') Curious what else I do?
