- var pageTitle = 'Daniel Dafoe, Design Technologist | Web Designer and Developer in Toronto, Canada';

doctype html
html(lang='en')
  include partials/_head

  body
    include partials/_ellipses
    a(href='#main') Skip to main content

    main(id='main')
      //- Include aria-label since nested HTML in <h1> throws off screen readers
      h1(aria-label='Who is Daniel Dafoe?').
        Who is #[br] Daniel Dafoe#[span ?]
      p.
        He's an inclusive web designer and developer living in Canada who advocates for accessibile web experiences and strives for well-structured content.

      p.
         Daniel is a #[strong Senior Design Technologist] at RBC—Canada's largest bank. In his role, he works on connecting the worlds of design and development in a world-class design system.

      p
        nav(aria-label='Primary')
          a.heavy(href='now.pug') Curious what I'm up to?

    nav.nav--socials(aria-label='Socials')
      a(href='https://twitter.com/danieldafoe') Twitter
      a(href='https://github.com/danieldafoe') GitHub
      a(href='https://medium.com/danieldafoe') Medium
      a(href='https://linkedin.com/in/danieldafoe') LinkedIn

  include partials/_analytics
