- var pageTitle = 'Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

  include _head

  body
    include _ellipses
    a(href='#main') Skip to main content

    main(id='main')
      h1 Hello#[span .]
      p.
        Hey, it’s me. Daniel. I'm that fella who cares deeply about web accessibility and inclusive design.
        
      p.
        Yup, I'm that same Daniel that works as a #[strong Senior Design Technologist at RBC]. You know, that big bank in Canada.

      p
        nav
          a(href='now.pug') Curious to know what else I'm doing?

  include _analytics
