extends partials/_layout

block prepend head
  - var pageTitle = 'Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Expert in web accessibility who\'s passionate about designing and developing inclusive and responsive web experiences.';

block main
  h1 Daniel Dafoe

  p.intro Inclusive designer and software engineer with an optimistic, collaborative, and curious lens on the world.

  p Currently, I work on a design system team as a #[strong Senior Design Technologist] at Canada's largest bank. I spend a lot of my time helping designers and software engineers understand how to create inclusive and accessible experiences.

  p In January 2022, I became a contract professor. I designed and taught a course on front-end application architecture.

  p Besides work, I'm pursuing a Bachelor of Arts degree at the University of Toronto. I'm also working on a side project using React and NextJS.

  p
    a.heavy(href='now.pug') Curious what else I do?
