- var pageTitle = 'Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';
- var ctaTitle = "Test";

doctype html
html(lang='en')

  include _head

  body
    a(href='#about') Skip to About section

    main.home
      header
        p.logo dd

      //- p.
      //-   Please select your preferred package below to continue.


      .products
        .product
          h2.product__title Tier 1: #[br]Detailed 
          p.product__price FREE
          h3.product__features-title What's included
          ul.product__features
            li 30 minute chat with my parents
            li My 20,000 word autobiography
          a.product__action.btn(href='./tier-1.pug') Claim Tier 1

        .product.product--best
          h2.product__title Tier 2: #[br]Prudent
          span.product__popular Popular choice!
          p.product__price FREE
          h3.product__features-title What's included
          ul.product__features
            li Download my resumé
            li Connect with me on LinkedIn
            li Schedule some time with me
          a.product__action.btn(href='./tier-2.pug') Claim Tier 2

        .product
          h2.product__title Tier 3: #[br]High Risk
          p.product__price FREE
          h3.product__features-title What's included
          ul.product__features
            li You blindly send me an offer letter
            li 
          a.product__action.btn(href='./tier-3.pug') Claim Tier 3

      a(href='./boring.pug') I'm scared, take me to the boring version.

      aside.banner
        p This website #[strong does not] use cookies, but here's one for you: #[span 🍪]
        button.primary(type='button') Thanks!

  script(type='text/javascript' src='../js/main.js')
  include _analytics
