- var pageTitle = 'Daniel Dafoe, Design Technologist | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

  include partials/_head

  body
    include partials/_ellipses
    a(href='#main') Skip to main content

    main(id='main')
      h1 Hello#[span .]
      p.
        Hey, it's me—Daniel. I'm that fella who cares deeply about web accessibility and inclusive design.

      p.
        Yup, I'm that same Daniel who's a #[strong Senior Design Technologist] at RBC. You know, someone who connects the worlds of design and development.

      p
        nav
          a(href='now.pug') Curious to know what else I'm doing?

  include partials/_analytics
