extends partials/_layout

block prepend head
  - var pageTitle = 'What I\'m Doing Now | Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Learn what an expert in web accessibility is up to in his spare time—when he can find it.';

block main
  h1 Other activities

  p.intro I'm more than my job. Here's what else I do and have done on this planet.

  ul
    li Writing about my perspectives on web engineering, accessibility, and design over at #[a(href="https://blog.danieldafoe.com") my blog].

    li Staying healthy and keeping fit.

    li #[a(href="https://www.instagram.com/danieldafoe/") Documenting life's moments] through the lens of a camera.

    li Travelling to as many countries as I can.

    li Learning American Sign Language (ASL). I know over 120 words and phrases! If you're interested in learning, #[a(href='https://lifeprint.com') Lifeprint] is the resource.


  h2 Previous engagements

  ul
    li Designed and developed #[a(href='https://georgebrown.ca') my blog].

    li Taught web design and web development courses to the next generation of web developers at #[a(href='https://georgebrown.ca') George Brown College].

    li Presented at #[a(href='https://digita11yaccessible.io/videos-podcasts/dafi2022/') Digitally Accessible's Insurance and Finance event]. My talk was titled #[em Accessible Design: How to Prepare for the End of the World].

    li I was Valedictorian in grade 8—as elected by my classmates. I've always adored writing and enjoyed presenting, so this was a big deal to me.


  include partials/_go-home
