extends partials/_layout

block prepend head
  - var pageTitle = 'What I\'m Doing Now | Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Learn what an expert in web accessibility is up to in his spare time—when he can find it.';

block main
  h1 Now

  p.intro I love what I do, but my job isn't everything. Here are other things I'm doing with my time on this planet.

  ul
    li Preparing to give a talk on how I weave accessibility considerations into RBC's design system for #[a(href='https://digita11yaccessible.io' target='_blank') Digita11y Accessible]'s Insurance and Finance event.

    li Pursuing a Bachelor of Arts degree in Linguistics at the University of Toronto part-time. My minors are Philosophy and English.

    li Learning #[abbr(title='American Sign Language') ASL]–American Sign Language. I know over 110 words and phrases!

    li #[a(href='https://danieldafoe.medium.com' target='_blank') Writing on Medium] about poor accessibility experiences on websites of large, well-known brands. #[strong (Coming Soon)]

  include partials/_go-home
