extends partials/_layout

block prepend head
  - var pageTitle = 'What I\'m Doing Now | Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Learn what an expert in web accessibility is up to in his spare time—when he can find it.';

block main
  h1 Other activities

  p.intro I love what I do, but my job isn't everything. Here are other things I do (and have done) with my time on this planet.

  ul
    li Taught introductory web design and web development courses to the next generation of web developers at #[a(href='https://georgebrown.ca') George Brown College].

    li Presented at #[a(href='https://digita11yaccessible.io/videos-podcasts/dafi2022/') Digitally Accessible's Insurance and Finance event]. My talk was titled Accessible Design: How to Prepare for the End of the World.

    li Learning American Sign Language (ASL). I know over 120 words and phrases! If you're interested in learning, #[a(href='https://lifeprint.com') Lifeprint] is the resource.

    li Working on integrating a blog into my website. I want a place to write that isn't just Medium.

  include partials/_go-home
