- var pageTitle = 'What Daniel Dafoe is doing now | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

  include partials/_head

  body
    include partials/_ellipses
    a(href='#main') Skip to main content

    main#main.now
      h1 Now#[span .]
      ul
        li Teaching a course called DESN3037 - Front End Application Architecture at George Brown College for their inaugural #[a(href='https://www.georgebrown.ca/programs/web-development-front-end-design-program-g418') Front End Design program].

        //- li Crafting a curriculum for DESN3037 - Front End Application Architecture for George Brown College's inaugural #[a(href='https://www.georgebrown.ca/programs/web-development-front-end-design-program-g418') Front End Design program].

        li Contributing code to fix a bug in Firefox's core codebase related to an accessibility mapping.

        li Studying English, Linguistics, and Philosophy at the University of Toronto part-time.

        li Learning #[abbr(title='American Sign Language') ASL]–American Sign Language. I know over 100 words and phrases!
        
        li Writing Medium articles dissecting poor web accessibility practices on websites of large, well-known brands.

      p
        nav
          a(href='/') Go back home.

  include partials/_analytics
