- var pageTitle = 'What Daniel Dafoe is doing now | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

  include partials/_head

  body
    a(href='#main') Skip to main content
    include partials/_ellipses

    main#main.now
      include partials/_theme-toggle

      h1 Now#[span .]
      ul
        li Teaching a course on front-end application architecture I was invited to create for George Brown College's inaugural #[a(href='https://www.georgebrown.ca/programs/web-development-front-end-design-program-g418') Front End Design program].

        //- li Contributing code to fix a bug in Firefox's core codebase related to an accessibility mapping.

        li Studying English, Linguistics, and Philosophy at the University of Toronto part-time.

        li Learning #[abbr(title='American Sign Language') ASL]–American Sign Language. I know over 100 words and phrases!
        
        li #[a(href='https://medium.com/danieldafoe') Writing on Medium] about poor web accessibility practices on websites of large, well-known brands.

      p
        nav
          a.heavy(href='/') Go back home.

  include partials/_js
  include partials/_analytics
