extends partials/_layout

block prepend head
  - var pageTitle = 'What I\'m Doing Now | Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Learn what an expert in web accessibility is up to in his spare time—when he can find it.';

block main
  h1 Other stuff

  p.intro I love what I do, but my job isn't everything. Here are other things I'm doing with my time on this planet.

  ul
    li Gave a talk for #[a(href='https://digita11yaccessible.io' target='_blank') Digita11y Accessible]'s #[a(href='https://digita11yaccessible.io/videos-podcasts/dafi2022/' target='_blank') Insurance and Finance event]. My talk was titled Accessible Design: How to Prepare for the End of the World.

    li Teaching Intro Web Design and Web Development courses to the next generation of web developers at George Brown College.

    li Learning #[abbr(title='American Sign Language') ASL]–American Sign Language. I know over 110 words and phrases!

    li #[a(href='https://danieldafoe.medium.com' target='_blank') Writing on Medium] about poor accessibility experiences on websites of large, well-known brands. #[strong (Coming Soon)]

  include partials/_go-home
