extends partials/_layout

block prepend head
  - var pageTitle = 'Resources | Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Recommended resources for designers and developers. Items on this list are websites and materials I\'ve found interesting, helpful, or inspiring.';

block main
  h1 Resources

  p.intro Links to resources I've found interesting, helpful, or inspiring.

  h2 Inclusive Design

  ul
    li
      a(href='https://airbnb.design/anotherlens' target='_blank') Airbnb and News Deeply's #[em Another Lens]
    li
      a(href='https://type-scale.com' target='_blank') Type Scale

  h2 Accessibility

  ul
    li
      a(href='https://uxdesign.cc/the-little-book-of-accessibility-a9b59d82b412' target='_blank') The Little Book of Accessibility

  h2 Development

  ul
    li
      a(href='https://gitmoji.dev' target='_blank') gitmoji

  include partials/_go-home
