extends partials/_layout

block prepend head
  - var pageTitle = 'Resources | Daniel Dafoe | Front-End Accessibility Engineer';
  - var pageDescription = 'Recommended resources for designers and developers. Items listed are websites and links to articles and tools I\'ve found interesting, helpful, or inspiring.';

block main
  h1 Resources

  p.intro Links to resources I've found interesting, helpful, or inspiring.

  h2 Accessibility
  ul
    li
      a(href='https://uxdesign.cc/the-little-book-of-accessibility-a9b59d82b412' target='_blank') The Little Book of Accessibility

  h2 Design
  ul
    li
      a(href='https://type-scale.com' target='_blank') Type Scale

  h2 Engineering
  ul
    li
      a(href='https://www.11ty.dev' target='_blank') Eleventy (11ty)
    li
      a(href='https://gitmoji.dev' target='_blank') gitmoji

  h2 Inclusive Design
  ul
    li
      a(href='https://airbnb.design/anotherlens' target='_blank') Airbnb and News Deeply's #[em Another Lens]

  h2 Principles
  ul
    li
      a(href='https://37signals.com' target='_blank') 37signals

  h2 Productivity
  ul
    li
      a(href='https://www.raycast.com/' target='_blank') Raycast
    li
      a(href='https://matthewpalmer.net/rocket/' target='_blank') Rocket
    li
      a(href='https://www.rectangleapp.com/' target='_blank') Rectangle


  include partials/_go-home
