- var pageTitle = 'About Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

include _head

body.tier-2
  
  main
    a(href='../assets/daniel-dafoe-resume.pdf' download) Peek My Resumé

  include partials/_analytics