- var pageTitle = 'About Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

include partials/_head

body
  
  main.tier-1
    h1 Memoir
    include partials/_home-navigation

    .tier-1__inner
      p.
        It was a dark and stormy night...

      p.
        ...and as you can probably guess, I don't have a memoir. That said, if you want 
        to see some writing, #[a(href='https://medium.com/danieldafoe') peruse my Medium profile].

  include partials/_analytics