- var pageTitle = 'Hire Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

include partials/_head

body
  main.tier-3
    a(href='../assets/daniel-dafoe-resume.pdf' download) Peek My Resumé

  include partials/_analytics