- var pageTitle = 'Resumé of Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

include partials/_head

body
  main.tier-2
    .resume-links
      .set-1
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé
      nav
        a(href='./index.pug') Back
        a(href='./booking.pug') Next
      .set-2
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé 
        a(href='../assets/daniel-dafoe-resume.pdf' download) download resumé

  include partials/_analytics