- var pageTitle = 'About Daniel Dafoe | Inclusive Web Developer in Toronto, Canada';

doctype html
html(lang='en')

  include partials/_head

  body.with-an-a
    include partials/_home-navigation
    
    main.with-an-a__main
      section.with-an-a__hero
        h1 down #[br] with #[br] defoe
      section.with-an-a__intro
        .with-an-a__intro__inner
          p.
            This vagrant in the background is Daniel Defoe. An author. A politician. A thief. 
            He is the reason Google believes I don't exist. When you Google my name, results will show for 
            him.

          p.
            Daniel Defoe has stolen my identity and my presence on the web.

          p.
            I will not stand for this.

          p.
            And don't worry–the irony of me writing about him entangling our lives further is not lost on me.
            
          p.
            So be it.

  include partials/_analytics
