extends common/_layout.jade

block append meta
  meta(name="description" content="Content creation such as the tagline and service descriptions were written for R5APPS by Daniel Dafoe in Oakville, Ontario.")
  meta(property="og:title" content="Content Writing for R5APPS")

block title
  title Content Writing for R5APPS | Freelance Web Developer in Burlington

block headline
  h1 Content Writing#[br]for R5APPS

block img
  a(href='http://r5apps.com') #[img(src="res/r5apps-logo.png" alt="R5APPS brand logo")]

block desc
  h1 Content Writing for R5APPS
  p.
    R5APPS is a company that is able to design, develop, and deploy mobile applications. They can build off of others' ideas, start from scratch, or simply refactor an existing application on the market.

  p.
    For this company I was in charge of the creation of the main tagline, the ideation and writing of each blurp under the Services section, and helping work out a pricing strategy for their development services.
  
  h3 Tagline
  p.
    When conceiving the tagline for R5APPS, I wanted to give consumers the idea that apps produced by R5APPS were one-of-a-kind. By explaining that each app is "meticulously designed and engineered", the feeling is conveyed that R5APPS spends a lot of time planning the app's look and feel for user friendliness, and also takes time to iron out any kinks when developing it.

  p.
    Not only was this my first full-fledge website as a whole, but I also familiarized myself with SASS by using it as my CSS preprocessor. This was also my first time that I tried out Bootstrap in order to handle mobile responsiveness.

  h3 Descriptions
  p.
    The descriptions under each category in Services were also a product of mine. Each service needed to convey to consumers that R5APPS knows what they're talking about, but equally friendly as they are knowledgeable.

  p.
    By using tidbits of playful language (i.e., goodies, magic) I aimed to abstract away some of the seriousness and let a more human and friendly brand image show through.