extends common/_layout.jade
  
block append meta
  meta(name="description" content="Daniel Dafoe is a PhoneGap Mobile App Developer and Front End Web Developer in Burlington.")
  meta(property="og:title" content="CSS Selector Clothing Design")

block title
  title CSS Selector Clothing Design | Freelance Web Developer in Burlington

block headline
  h1 CSS Selector#[br]Clothing Design

block desc
  h1 CSS Selector Clothing Design
  p.
    Intended to be for nerdy web developers who have at least one child, the <code>:first-child</code> apparel design was created for people who want a tongue-in-cheek way of showing that a child of theirs is the first-born.

  p.
    Although this was intended to showcase a first-born child of a parent, technically you could also buy one for yourself if you were the first child in your own family tree.

  h3 Rationale
  p.
    While working as a Web Developer at iQuest Media and discussing my endeavours in the field of nifty apparel design with simplistic, graphic-less ideas, I came up with the idea to really brand my clothing designs to people like myself: web developers.

  p.
     By designating a specific market for my designs, I could now target that group and assume some knowledge that they would have. This way I don't need to worry as much about making sure everyone can understand, just so long as it has something to do with web development.

 block img
  a(href="" title="Click to view or purchase this design on Redbubble." alt=":first-child CSS selector text overlayed on kids clothes") #[img(src="res/rb-first-child.png" title=":first-child T-shirt Design. Image courtesy of Redbubble.")]