extends common/_layout.jade

block append meta
  meta(name="description" content="The Kasty Landscaping website, designed and developed by Daniel Dafoe for Alex Kasty in Burlington, Ontario.")
  meta(property="og:title" content="Kasty Landscaping Website")

block title
  title Kasty Landscaping Website Design &amp; Development | Freelance Web Developer in Burlington

block headline
  h1 Kasty#[br]Landscaping#[br]Website#[br]

block img
  img(src="res/logo-kl.png" alt="Kasty Landscaping website logo")

block desc
  h1 Kasty Landscaping Website Design
  p.
    Kasty Landscaping prides itself on being the go-to solution for all of your outdoor needs. Whether you need decks or gardens, interlock or irrigation, Kasty Landscaping can do it all.

  p.
    Kasty Landscaping came to me in need of a complete redesign of their old website. This multi-page website needed a complete user interface overhaul, as well as being made responsive for viewing on mobile devices. It now has a modern look, as well as a cost estimator.
  
  h3 Rationale
  p.
    In what I refer to as my "first real client website", I utilized HTML5, CSS3, JavaScript, and PHP to deliver a newly designed and developed website. With PHP handling the form submission and JavaScript taking care of the cost estimator functionality, the styling was left to HTML5 and CSS3.

  p.
    Not only was this my first full-fledge website as a whole, but I also familiarized myself with SASS by using it as my CSS preprocessor. This was also my first time that I tried out Bootstrap in order to handle mobile responsiveness.