extends common/_layout.jade

block append meta
  meta(name="description" content="The creative URBAN clothing design was dreamt up and designed by Daniel Dafoe as an attempt to get better at using the Adobe suite.")
  meta(property="og:title" content="Logo Design Concept - URBAN")

block title
  title Logo Design Concept - URBAN | Freelance Web Developer in Burlington

block headline
  h1 Logo Design:#[br]URBAN

block img
  a(href="" title="Click to view or purchase this design on Redbubble.") #[img(src="res/urban-small.png" alt="SQL Injection sticker idea")]

block desc
  h1 Logo Design Concept - URBAN
  p.
    Over the Victoria Day weekend of 2015, I was compelled to strike up Adobe Photoshop with the intention to give life to some of the ideas in my head. URBAN is the result of one of those ideas.

  p.
    Although it is not along my typical programmer/developer theme that I tend to follow with ideas for apparel and stationary, this one snuck its way in and I'm pleased that it did.

  h3 Rationale

  p.
    Having grown up in a small town of under 800 people, I was never really very fond of life in the city. I was no farmer, but I didn't like the huslte and bustle of the city when I would visit. Everyone seemed to be too busy for interaction.

  p.
    URBAN was constructed as a way to show how much the fast-paced lifestyle of the urban culture has become a part of me. Since I have an interest in both design (typically on web) and typography, I had always wondered how artists did this kind of style&mdash;where an image can be seen within the letters of words.

  p.
    To accomplish this design I used Adobe Photoshop CS5. Redbubble is the company that handles the manufacturing process when a product is purchased.
