extends common/_layout.jade

block append meta
  meta(name="description" content="this.title='Blog'; is a blog website designed and developed by Daniel Dafoe, running on Drupal v7. Content creation and writing is done by Daniel Dafoe.")
  meta(property="og:title" content="Blog Design and Content Writing")

block title
  title Blog Design &amp; Content Writing | Freelance Web Developer in Burlington

block headline
  h1 Original Portfolio Design

block img
  h2 danieldafoe.com

block desc
  h1 Original Portfolio Website
  p.
    The website that you're currently viewing is a portfolio of my work as a mobile developer, web developer, content writer, and even a sticker designer.
  
  p.
    What began as <a href="http://portfolio.danieldafoe.com">portfolio.danieldafoe.com</a> got much better as my development skills improved. Over time I have used this portfolio page to try out new frameworks like AngularJS, test out experimental CSS display properties like flexbox, and use it as a place to show off my ability as a capable front end web developer.
  
  h3 Technology

  p.
    For this portfolio website I have used HTML5, CSS3, and JavaScript. As for frameworks and librairies, I typically use Bootstrap, jQuery, WOW.js, and Font Awesome. In the past I have also used AngularJS.

  p.
    As a next step, I will be working to convert the entire portfolio over to flexbox so that Bootstrap is not required. I also plan to convert all jQuery to vanilla JS.