extends common/_layout.jade

block append meta
  meta(name="description" content="this.title='Blog'; is a blog website designed and developed by Daniel Dafoe, running on Drupal v7. Content creation and writing is done by Daniel Dafoe.")
  meta(property="og:title" content="Blog Design and Content Writing")

block title
  title Web Project - AshleighGraden.com | Freelance Web Developer in Burlington

block headline
  h1 AsleighGraden.com

block img
  a(href="http://ashleighgraden.com" title="Click to view ashleighgraden.com.") #[h2 ashleighgraden.com]

block desc
  h1 Description
  
  p.
    Ashleigh was in need of a professional and simple portfolio website to showcase her experience and serve
    as a landing page for recruiters to visit to learn more about her.

  h3 Rationale
  
  p.
    Containing an aesthetic borrowed from other sites around the web, the website makes use of grays and pale blues to convey a tone relevant to information professionals.
  p.
    Conceived and developed in just a few short days, the portfolio page leverages responsive web design and minimalistic design principles.