extends common/_layout.jade

block append meta
  meta(name="description" content="The RAVEN5 mobile application for Android and iOS, developed by Daniel Dafoe for RAVEN5 in Oakville, Ontario.")
  meta(property="og:title" content="RAVEN5 Mobile App")

block title
  title PhoneGap Mobile App for Oakville Shops | Mobile &amp; Front End Web Developer in Burlington, Ontario

block headline
  h1 RAVEN#[span 5]#[br]Mobile App

block img
  img(src="res/app-raven5.png" alt="RAVEN5 PhoneGap mobile app")

  div.download-icons
    a(href="https://itunes.apple.com/us/raven5/id900487669?mt=8" target="_blank") #[i.fa.fa-apple.fa-3x]
    a(href="https://play.google.com/store/apps/details?id=com.raven5.raven5" target="_blank") #[i.fa.fa-android.fa-3x]

block desc
  h1 RAVEN5 Mobile App
  p.
    The RAVEN5 mobile app allows users to get, view and read recent blog, video, and take5 posts, as well as browse the RAVEN5 online store and about page.

  p.
    I was the lead mobile developer for this project, which was based on an already finalized Photoshop mockup. To test this application I used physical devices, the Ripple extension for Google Chrome, as well as the SDKs for both iOS (Xcode), and Android (Android SDK).

  h3 Technologies
  p.
    This hybrid mobile application was my second production attempt at using PhoneGap Build. Similar to Oakville Shops, I used HTML, CSS, and JavaScript in order to get the job done. I used jQuery Mobile for the web app framework, and jQuery for DOM manipulation. Development was done on a 27" Mac, and I used Sublime Text 2 as my editor of choice.

  p.
    While testing (which was done in tandem with development) I used the Ripple Google Chrome Extension, Chrome's emulation tools, and physical devices.