extends common/_layout.jade

block append meta
  meta(name="description" content="CConceived by Daniel Dafoe, the SQL Injection sticker design uses a well-known line of code used to gain access to databases and portrays it in a familiar setting.")
  meta(property="og:title" content="SQL Injection Sticker Design")

block title
  title SQL Injection Sticker Design | Freelance Web Developer in Burlington

block headline
          h1 SQL Injection Sticker Design

block img
  a(href="http://www.redbubble.com/people/danieldafoe/works/9557864-hello-my-name-is-or-1-1?p=sticker" title="Click to view or purchase this design on Redbubble.") #[img(src="res/sticker-sql-injection.png" alt="SQL Injection sticker idea")]

block desc
  h1 SQL Injection Sticker Design
  p.
    Redbubble is a company that allows artists, illustrators, and, in my case, anyone who can type text on keyboard, the opportunity to upload a single design and have it purchasable by the millions of people scattered across the internet.

  p.
    The inclusion of this creative design piece in my portfolio was made in order to show an alternative to the regular front-end development that I enjoy doing.
  
  h3 Rationale
  p.
    While in a computer systems security course one day, I had the unique idea to show a hacker's name as the code they were entering in order to gain access database information. What better way to showcase this then one of those "Hello! My name is" tags you see at large events? With that, my idea was solidified.

  p.
    To accomplish this major design feat I used Adobe Photoshop CS5. Redbubble is the company that handles the manufacturing process when a product is purchased.