doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Daniel Dafoe discusses usability terms affordances and signifiers in relation to w) development.")
    meta(http-equiv="author" content="Daniel Dafoe")
    meta(property="og:title" content="Usability: Affordances &amp; Signifiers")
    meta(property="og:site_name" content="Development and Content Writing by Daniel Dafoe")
    meta(property="og:url" content="http://danieldafoe.com")
    meta(property="og:image" content="http://danieldafoe.com/res/fb-bg.png")
    meta(property="og:description" content="!important is a blog by Daniel Dafoe that address usability, user experience, and web development.")
    
    title Web Accessibility: Elephant in the Room | Usability, User Experience, and Web Development Blog | !important blog

    link(rel='stylesheet', href='css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='css/posts.css')
  body
    nav.out
      .nav-inner
        a(href="http://danieldafoe.com/blog") Blog
        a(href="#skills") Skills
        a(href="#projects") Projects
        a(href="#contact") Contact
        
    .wrapper
      .nav-reveal
        button(type='button') #[i.fa.fa-bars] MENU
      
      .post
        .post__hero-left
          h1.post__title Web Accessibility:#[br]The Elephant in the Room
          p.post__desc The unofficial afterthought of all web developers.

        .post__hero-right
        
      
      .post__content
        .max-50
          p.
            I was listening to a Shop Talk Show podcast titled "The State of Web Development" when I decided to write about web accessibility. This particular podcast was just the recording of the Chris Coyier, Una Kravetz, Jina Bolton, Rebecca Murphy, and Marc Rogers chat for A List Apart, but it was an fairly interesting discussion.

          p.
            Strip away the talk about languages and what makes a front end developer, though, and abot 3/4 of the way through we finally hear the word #[em accessibility].

          h3 Screen Reader Showdown

          p.
            It's bewildering to know there are #[em many] screen readers available for people requiring them to browse the Internet. Not only that, but there's a screen reader specifically #[a(href='http://www.firevox.clcworld.net/') designed for browsing with Firefox]&mdash;and that's not even the worst of it. Just when you thought browser prefixing in CSS was bad, screen readers come in and show that they can be just as fickle. You guessed it: not all screen readers interpret web pages the same way.

          p.
            This perplexing thought causes screen readers to read out elements in different ways, ignore some that others will read, and more.
   



    <!-- Google Analytics -->
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53844906-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    script(type="text/javascript" src="../js/jquery-2.1.1.min.js")
    script(type="text/javascript" src="../js/wow.min.js")
    script(type="text/javascript" src="../js/blog.js")