doctype html
html
    head
        include ../common/_meta.jade
        link(href='../css/blog.css' rel='stylesheet')
    body
        .blog-wrapper
            .blog-img
                block blog-img

            .blog-title
                h1 #{blog-title}
                p.
                    #{blog-desc}

            .blog-content
                block blog-content

            .blog-end
                p.
                    This article brought to you by: #[a(href='') Daniel&nbsp;Dafoe] .