nav.out(aria-label='Primary')
      .nav-inner
        a(href="http://danieldafoe.com/blog" tabindex='-1') Blog
        a(href="#skills" tabindex='-1') Skills
        a(href="#projects" tabindex='-1') Experience
        a(href="#contact" tabindex='-1') Contact