link(href="favicon.ico" rel="favicon")
link(href="css/vendor/bootstrap.min.css" rel="stylesheet")
link(href="css/vendor/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet")
link(href="css/index.css" rel="stylesheet")
link(href='http://fonts.googleapis.com/css?family=Libre+Baskerville|Comfortaa' rel='stylesheet' type='text/css')