//
// Variables
// --------------------------------------------------------------------------
$clr-main:#1663c7;
$clr-main-dark:#073B7D;
$clr-gray-dark:#3C4045;
$clr-gray-light:#f9fbfb;
$clr-alt:#06C696;
$ff-serif:'Libre Baskerville', Georgia, serif;
$ff-fancy:'Josefin Sans', 'Helvetica Neue Light', Arial, sans-serif;
$ff-body:'Times New Roman', Times, Garamond, serif;
$ff-sans:'Roboto', 'Helvetica Neue', Arial, sans-serif;
$ff-comfortaa:'Comfortaa', 'Roboto', 'Helvetica Neue', Arial, sans-serif;