@import '_variables.scss';
@import '_mixins.scss';
@import '_globals.scss';

html, body {
  color:$clr-gray-dark;
}
h1, h2 {
  margin:0;
}
h2 {
  color:$clr-gray-dark;
  font-family:$ff-sans;
}
a {
  color:$clr-alt;
}

//
// Blog Wraper
// --------------------------------------------------------------------------
.blog-wrapper {
  @media (max-width:768px) {
    max-width:80%;
  }

  max-width:50%;
  margin:2rem auto;
}

//
// Blog Main Image
// --------------------------------------------------------------------------
.blog-img {
  max-width:400px;
  margin:0 auto;
  padding:0 0 2rem 0;

  > img {
    width:100%;
    height:auto;
    margin:0 auto;

    border-radius:6px;
  }
}

//
// Blog Title
// --------------------------------------------------------------------------
.blog-title {
  margin:0 0 2rem;
  padding:0 0 2rem;

  text-align:center;

  border-bottom:3px solid $clr-alt;

  > h1 {
    color:$clr-main;
  }
  > p {
    margin:0;

    font-style:italic;
  }
}

//
// Blog End
// --------------------------------------------------------------------------
.blog-end {
  margin:2rem 0 7rem;
  padding:0;
  border-top:3px solid $clr-alt;
}

//
// Blog Content
// --------------------------------------------------------------------------
.blog-content {
  padding:0;

  line-height:1.55;
  font-family:$ff-serif;
}
.blog-content__img {
  @extend .blog-img;
  padding:0;

  > img {
    margin:2rem auto;
  }
}