// ==========================================================================
// Styles for danieldafoe.github.io
// ==========================================================================

//
// Variables
// --------------------------------------------------------------------------
$clr-main: #1663c7;
$clr-main-dark: #073B7D;
$clr-gray-dark: #3C4045;
$clr-gray-light: #f9fbfb;
$clr-alt: #06C696;
$clr-text-body: #222;

$clr-error: #FF3D2E;

$clr-section-about: #f9fbfb;
$clr-section-contact: #fff;
$clr-section-skills: #fff;
$clr-section-social: #555;
$clr-section-colophon: #fff;

$content-max-width: 80%;
$content-padding: 1rem;

$ff-body: 'Times New Roman', Times, Garamond, serif;
$ff-comfortaa: 'Comfortaa', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$ff-fancy: 'Josefin Sans', 'Helvetica Neue Light', Arial, sans-serif;
$ff-sans: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$ff-serif: 'Libre Baskerville', Georgia, serif;

$bounce: cubic-bezier(.66,-.048,.41,1.76);
$mdCurve: cubic-bezier(0.4, 0.0, 0.2, 1);
$mdOut: cubic-bezier(0.0, 0.0, 0.2, 1);
$mdIn: cubic-bezier(0.4, 0.0, 1, 1);
$slide: cubic-bezier(.8,1.5,.9,1);

$project-circle-length: 185px;

//
// Imports
// --------------------------------------------------------------------------
@import '_mixins.scss';
@import '_globals.scss';

//
// Helpers
// --------------------------------------------------------------------------
.accessible {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  text-indent: -1000px;
  clip-path: 9999px;
  clip: rect(1px, 1px, 1px);

  // This was screwing up screen readers
  // visibility: hidden;
}
.dd-btn {
  @include transition();
  padding: 12px 50px;

  font-size: 20px;
  letter-spacing: 1px;

  border: 2px solid #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: $clr-main;
  background: #fff;

  &:hover, &:active, &:focus {
    background: $clr-main;
    text-decoration: none;
    color: #fff;
  }
  @media (width: 768px) and (height: 1024px) {
    font-size: 26px;
  }
}
.section-title {
  position: relative;
  margin: 0 auto 3rem;
  padding: 3rem 0 0 5rem;

  > h2 {
    z-index: 1;
    display: inline-block;
    position: relative;
    padding: .5rem 0;

    font-size: 200%;
    font-family: $ff-sans;
    letter-spacing: 1px;

    color: $clr-gray-dark;

    &:after {
      @include transform(translateY(-50%));
      content: ' ';
      position: absolute;
      top: 50%;
      right: -50px;
      width: 12px;
      height: 12px;

      border-radius: 50%;
      background-color: $clr-main;

      @media (max-width: 768px) {
        top: 115%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
  @media (max-width: 992px) {
    max-width: 60%;
  }
  @media (max-width: 768px) {
    padding: 2rem 0 0;

    text-align: center;
  }
  @media (max-width: 480px) {
    max-width: 90%;
  }
}
.link--plain {
  &::after {
    background-color: transparent;
  }
}
.row {
  margin: 0;
}
.text--italic {
  font-style: italic;
}

//
// Navigation
// --------------------------------------------------------------------------
@import 'components/_navigation.scss';

//
// Wrapper
// --------------------------------------------------------------------------
.wrapper {
  position: relative;
  margin: 0 auto !important;
  padding: 0 !important;
  width: 100%;
  background-color: #fff;
}

//
// Main
// --------------------------------------------------------------------------
.main-container {
  @include flexbox();
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 60vh;
  margin: 0 !important;
  padding: 0 !important;

  background: #8beda5; /* Old browsers */
  background: -moz-linear-gradient(left,  $clr-main 0%, $clr-alt 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  $clr-main 0%,$clr-alt 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $clr-main 0%,$clr-alt 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-main', endColorstr='$clr-alt',GradientType=1 ); /* IE6-9 */

  background-color: $clr-main;

  @media (max-width: 768px) {
    justify-content: flex-start;
  }
  @media (max-width: 480px) {
    height: 55vh;
  }
}

//
// Logo
// --------------------------------------------------------------------------
.logo {
  padding-left: 1.35rem;
  border-left: 5px solid rgba(255,255,255,.55);
  font-family: $ff-serif;

  > h1 {
    @include transition(all 500ms $mdCurve 450ms);
    @include transform(translate(-200%,0));
    display: inline-block;
    padding: .65rem 0 0;
    font-size: 300%;
    font-weight: 400;
    // border-bottom: 3px dotted #fff;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      font-size: 250%;
    }
    @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
      font-size: 300%;
    }
    @media (width: 768px) and (height: 1024px) {
      font-size: 300%;
    }
    @media (max-width: 480px) {
      font-size: 225%;
    }
  }
  > p {
    @include transition(all 500ms $mdCurve 550ms);
    @include transform(translate(-200%,0));
    padding: .75rem 0 0;
    font-size: 150%;
    font-style: italic;

    @media (width: 768px) and (height: 1024px) {
      font-size: 200%;
    }
    @media (max-width: 480px) {
      font-size: 115%;
    }
  }
  @media (max-width: 768px) {
    margin-left: 1.35rem;
  }
  @media (max-width: 480px) {
    max-width: $content-max-width;
  }
}

//
// Side Notes
// --------------------------------------------------------------------------
.side-notes {
  @include flexbox();
  flex-direction: column;
  
  @media (max-width: 769px) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1% 15% 0;
    background-color: rgba(255,255,255, .25);
  }
}
.side-note {
  @include flexbox();
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0 0 .5rem;
    font-size: 140%;
  }
  &__emoji {
    font-size: 165%;
  }
  &__text {
    font-size: 110%;
  }
  p {
    margin: 0;
  }
}
// .hero-l, .hero-r {
//   @include transition(width 500ms cubic-bezier(.14, .12, .6, .79) 0s);
//   width: 0%;
//   height: 65vh;
//   float: left;
//   background-color: $clr-main;

//   @media (max-width: 480px) {
//     height: 55vh;
//   }
// }

// Sections
.section--social-bar {
  @include flexbox();
  align-items: center;
  justify-content: space-around;
  height: 95px;
  padding: 0;
  background-color: #fff;
}

// Action Bar
.top-social {
  @include flexbox();
  align-items: center;
  justify-content: space-around;
  width: 40%;
  font-size: 55%;

  > a {
    @include transition();

    &:hover,
    &:active,
    &:focus {
      @include transform(rotate(7deg));
      color: $clr-alt*1.1;
    }
  }

  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 55%;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    font-size: 50%;
  }
  @media (max-width: 768px) {
    width: 65%;
  }
  @media (max-width: 480px) {
    width: 95%;
    font-size: 45%;
  }
}

//
// About
// --------------------------------------------------------------------------
.section--about {
  width: 100%;
  color: $clr-gray-dark;
  background-color: $clr-section-about;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
  > .container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

    text-align: left;
  }
  .col-sm-6 {
    padding: 0;
  }

  a {
    text-overflow: hidden;
  }
  .row {
    &:first-of-type {
      i {
        @media (max-width: 480px) {
          margin-top: 1em;
        }
      }
    }
    &:last-child {
      .col-sm-6 {
        @media (max-width: 1000px) {
          width: 100%;
          left: 0;
        }
      }
    }
  }
  .col-md-4 {
    &:nth-child(2) {
      p {
        @media (max-width: 480px) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
.about-inner {
  padding: 3rem;

  > h3,
  > p {
    display: inline-block;
  }
  > h3 {
    margin-bottom: 1rem;
  }
  @media (max-width: 480px) {
    // padding: 2rem;
    padding-left: 0;
    padding-right: 0;
    max-width: $content-max-width;
    margin: auto;
  }
}
.about-inner--middle {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}
.about-inner--bottom {
  padding-top: 0;
  padding-bottom: 0;
}

//
// Card
// --------------------------------------------------------------------------
.card-container {
  @include flexbox();
  justify-content: center;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
  @media (max-width: 480px) {
    max-width: $content-max-width;
    margin: auto;
  }
}
.card {
  @include transition(all 200ms $mdIn 0s);
  @include flexbox();
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  font-family: sans-serif;
  box-shadow: -1px 0 15px 3px rgba(0,0,0,.2);
  color: #333;
  background-color: $clr-gray-light;

  &-top {
    @include transition(all 300ms $mdCurve 0s);
    position: relative;
    height: 240px;
    color: $clr-gray-light;
    background-color: $clr-main;

    @media (max-width: 480px) {
      height: 200px;
    }
    > h3 {
      position: absolute;
      bottom: 0;
      left: 1rem;
      margin: 0 0 .5rem;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: .5px;
    }
  }
  &-bottom {
    @include transition(all 300ms $mdOut 0s);
    padding: 1rem 1rem .25rem;
    color: $clr-gray-dark;
    background-color: $clr-gray-light;

    > p {
      margin: 0;
    }
  }
  &:hover {
    // -webkit-animation: 1.2s $mdCurve 0s alternate infinite hover;
  }
  &:first-child {
    @media (max-width: 768px) {
      order: 2;
    }
  }
  &:nth-child(2) {
    @include transform(translateY(-5%));
    z-index: 2;

    @media (max-width: 768px) {
      @include transform(none);
      order: 1;
    }
  }
  &:last-child {
    @media (max-width: 768px) {
      order: 3;
    }
  }
  @media (max-width: 1000px) {
    margin: 0 auto 2rem;
  }
  @media (max-width: 480px) {
    // Reset
    min-width: auto;
    max-width: none;
    //
    width: 100%;
  }
}

//
// Knowledge
// --------------------------------------------------------------------------
.section--skills {
  width: 100%;
  background-color: $clr-section-skills;
}
.skill-search {
  margin: 1rem auto 5rem;
  max-width: 50%;

  @media (max-width: 480px) {
    max-width: $content-max-width;
    margin-bottom: 2rem;
  }
}
.skill-search-input-label {
  padding-bottom: 1rem;

  font-size: 16px;
  font-weight: 600;
}
.skill-search-input-result {
  font-size: 14px;
  color: $clr-text-body;
}
.skill-search-input-error {
  color: $clr-error;
}
.skill-container {
  @include flexbox();
  flex-direction: column;
  justify-content: space-between;

  max-width: 50%;
  margin: 1rem auto;
  padding: .5rem 0 0;

  @media (max-width: 768px) {
    max-width: 90%;

    text-align: center;
  }
}
.skill--title {
  display: inline-block;
  margin: 0 0 .5rem;
  padding: 0 0 .5rem;
  border-bottom: 3px solid $clr-alt;

  color: $clr-main;
}
.skill--items {
  font-size: 16px;
  
  > ul {
    list-style-type: none;
  }
}

//
// Project
// --------------------------------------------------------------------------
.section--projects {
  background-color: $clr-gray-light;

  > .container-fluid {
    max-width: 1200px;
    margin: 0 auto;
  }
  .row {
    > .col-sm-12 {
      max-width: 75%;
      margin: auto;
    }
  }
}
.project-section-container {
  @include flexbox();
  flex-direction: column;
  max-width: 325px;
  margin: 0 auto 3rem;
}
.project-title,
.project-list {
  @include flexbox();
  align-items: center;
  justify-content: center;
  width: 100%;
}
.project-title {
  margin: 0;
  color: $clr-main;

  > h3 {
    font-size: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
.project-list {
  justify-content: flex-start;
  margin: 1rem 0 0;

  tr {
    display: block;
    padding: .1rem 0;
  }
  td {
    &:first-of-type {
      padding: 0 1rem;
      vertical-align: top;

      color: $clr-alt;
    }
    &:last-of-type {
      vertical-align: top;
    }
  }
}

// .project-container {
//   @include flexbox();
//   flex-direction: row;
//   align-items: baseline;
//   justify-content: center;

//   max-width: 475px;
//   padding: 1.5rem .75rem;
//   margin: 0 auto;

//   @media (max-width:480px) {
//     flex-direction: column;
//     min-width: 285px;
//     max-width: 285px;
//   }
//   > table {
//     td {
//       &:first-child {
//         padding-right: 1rem;
//       }
//     }
//   }
// }
// .p-container {
//   @include transition(all 150ms $slide 0s);
//   @include flexbox();
//   align-items: stretch;
//   justify-content: space-around;
//   position:relative;
//   height: 200px;
//   max-width: 75%;
//   margin: 0 auto;

//   &.wide {
//     height: 300px;
//   }
//   @media (max-width: 768px) {
//     flex-direction: column;
//     height: 300px;
//   }
// }
// .p {
//   @include transition(all 150ms ease 0s);
//   @include flexbox();
//   flex-direction: column;
//   width: 100%;
//   will-change: auto;

//   &.wide {
//     @include transition(all 150ms ease 0s);
//     position: absolute;
//     left: 0;
//     width: 100%;
//     bottom: 0;
//     top: 0;

//     padding: 2rem 0 1rem;
//     overflow: scroll;

//     > h4 {
//       margin: 1rem auto 0;
//     }
//     > .project-container {
//       display:block;
//       opacity: 1;
//     }
//     @media (max-width: 768px) {
//       padding-top: 1rem;
//     }
//   }
//   &:hover {
//     cursor: pointer;
//   }
//   &:nth-child(1) {
//     background-color: #007C5D;
//     &:hover {
//       background-color: lighten(#007C5D, 5%);
//     }
//   }
//   &:nth-child(2) {
//     background-color: #00A179;
//     &:hover {
//       background-color: lighten(#00A179, 5%);
//     }
//   }
//   &:nth-child(3) {
//     background-color: #06C696;
//     &:hover {
//       background-color: lighten(#06C696, 5%);
//     }
//   }
//   &:nth-child(4) {
//     background-color: #2DCCA4;
//     &:hover {
//       background-color: lighten(#2DCCA4, 5%);
//     }
//   }

//   > h4 {
//     @include transition();
//     margin: auto;

//     letter-spacing: 1px;
//     font-size: 1$content-max-width;
//     text-transform: uppercase;
//   }
//   > .project-container {
//     @include transition(all 150ms $slide 150ms);
//     display: none;
//     opacity: 0;

//     color: #fff;

//     a {
//       color: #fff;
//     }
//   }

//   @media (max-width: 768px) {
//     padding: .75rem 0;
//   }
// }


//
// Experience (Page)
// --------------------------------------------------------------------------
.exp-info {
  width: 100%;

  color: #222;
  background-color: #fafafa;

  > .container {
    padding: 1rem 0;

    .row {
      margin-bottom: 2em;
      &:last-child {
        margin-bottom: 4em;
      }
    }
  }
}
.exp-info-img {
  max-width: 800px;
  border: 3px solid $clr-main;
  margin: 0 auto;

  &.urban {
    text-align: center;
    border: 0;

    img {
      max-width: 550px;
      padding: 2em 0;
    }
    a {
      color: $clr-alt;
    }
    h2 {
      padding: 1em 0;
      font-size: 315%;
      font-family: "Playfair Display", serif;
    }
  }
  img {
    max-width: 100%;
  }
}
.exp-info-text {
  font-family: $ff-sans;

  > h1 {
    font-size: 30px;
    color: $clr-text-body;
  }
  > h3 {
    color: $clr-main;
  }
  > p {
    margin: 1em 0;
    font-weight: normal;
  }
  a {
    position: relative;

    color: $clr-alt;
    
    &::after {
			@include transition(all 300ms ease 0s);
      content: '';
      position: absolute;
      bottom: -10%;
      left: 0;
      width: 100%;
      background: $clr-main;
      height: 2px;
    }
  }
}
.exp-info-footer {  
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: 0 0 .5rem;

  text-align: center;

  > .dd-btn {
    font-weight: 500;
    font-family: $ff-sans;

    border: 3px solid $clr-gray-dark;
    color: $clr-gray-dark;
    background-color: transparent;

    &:hover, &:focus, &:active {
      color: $clr-gray-light;
      background-color: $clr-main;
      border-color :$clr-main;
    }
  }
}
.download-icons {
  padding: .5em 0;

  > a {
    @include transition(all 300ms ease 0s);
    padding: 0 1em;

    color: $clr-main;

    &:hover, &:active, &:focus {
      color: lighten($clr-main, 10%);
    }
  }
}


//
// Contact
// --------------------------------------------------------------------------
.section--contact {
  position: relative;
  width: 100%;
  color: $clr-gray-dark;
  background-color: $clr-section-about;
}
.section-footer {
  @include flexbox();
  max-width: 1200px;
  margin: 0 auto;
  color: $clr-gray-dark;

  > .footer-text,
  > form {
    width: 50%;

    @media (max-width:768px) {
      width: $content-max-width;
      margin: 0 auto;
    }
  }
  p {
    padding: 0 1rem 0 5rem;

    @media (max-width: 768px) {
      padding-left: 1rem;
    }
    @media (max-width: 480px) {
      padding: 0;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    max-width: 95%;
    margin: auto;
  }
  @media (max-width: 480px) {
    max-width: inherit;
    margin: 0 auto;
    padding: 0;
    text-align: left;
  }
}
.footer_social {
  padding: 1rem 0 0 5rem;

  font-size: 55%;

  > a {
    @include transition();
    margin:  0 1.5rem 0 0;

    color: $clr-alt;

    &:hover {
      @include transform(rotate(7deg));
      text-decoration: none;
      color: $clr-main;
    }
    @media (max-width:768px) {
      margin: 0 1.5rem 0 0;
    }
    @media (max-width:480px) {
      margin: 0 1rem 0 0;
    }
  }
  @media (max-width: 768px) {
    //width:50%;
    margin: 3rem auto;
    padding: 0;

    text-align: center;
  }
  @media (max-width:480px) {
    margin: 3rem 0 0;
    padding: 0;

    text-align: center;
  }
}
#form-contact {
  > .container {
    max-width: $content-max-width;

    @media (max-width: 480px) {
      padding: 0;
    }
  }
  .col-xs-12 {
    > div {
      margin: 0 auto 2em auto;

      @media (max-width: 480) {
        max-width: 100%;
      }
    }
    @media(max-width: 480px) {
      padding: 0;
    }
  }
  @media (max-width: 480px) {
    margin: 3rem auto 0;
    width: 100%;
  }
}

.form-control {
  &.invalid {
    border-color: red;
  }

  height: auto;
  margin: .25em 0 .5rem;
  padding: 12px 12px;

  border-radius: 4px;
  border-width: 2px;
  border-color: $clr-gray-dark;
  outline: none;
  outline: 0;
  box-shadow: none;
  -moz-appearance: none;

  color: $clr-gray-dark;
}

.btn-default {
  @include transition(all 200ms ease 0s);
  position: relative;
  padding: 12px 40px;
  margin: 1rem 0 0;
  overflow: hidden;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: $ff-sans;
  color: $clr-gray-light;
  background-color: $clr-main;


  &.submitting {
    > span {
      &:first-child {
        opacity: 0;
      }
      &:nth-child(2) {
        top: 50%;
        opacity: 1;
      }
    }
  }
  &.error {
    background-color: $clr-error;
    &:hover, &:active, &:focus {
      background-color: $clr-error;
    }
    > span {
      &:first-child {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 50%;
        opacity: 1;
      }
    }
  }
  &.submitted {
    background-color: #06C696;

    &:before, &:after {
      background-color: #06C696;
    }
    &:hover, &:active, &:focus {
      background-color: #06C696;

      &:before, &:after {
        background-color: #06C696;
      }
    }
    > span {
      &:first-child {
        opacity: 0;
      }
      &:nth-child(2) {
        top: 150%;
        opacity: 0;
      }
      &:nth-child(3) {
        top: 150%;
        opacity: 0;
      }
      &:last-child {
        top: 50%;
        opacity: 1;
      }
    }
  }

  > span {
    @include transition();

    &:nth-child(2),
    &:nth-child(3),
    &:last-child {
      @include transform(translateY(-50%));
      position: absolute;
      top: 150%;
      left: 0;
      right: 0;

      opacity: 0;
    }
  }
  i {
    font-size: 20px;

    color:$clr-gray-light;
  }
  &:hover, &:active, &:focus {
    color:$clr-gray-light;
    background-color: $clr-main-dark;

    &::before, &::after {
      background: $clr-main;
    }
  }
}

//
// Colophon
// --------------------------------------------------------------------------
#colophon {
  @include flexbox();
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  // margin: 1rem 0 0;
  padding: 1rem 0;
  color: $clr-gray-dark;
  background-color: $clr-section-colophon;

  p {
    margin: 0;
  }
}

