// ==========================================================================
// Styles for Blog Posts
// ==========================================================================

//
// Imports
// --------------------------------------------------------------------------
@import '_variables.scss';
@import '_mixins.scss';
@import '_globals.scss';
@import 'components/_navigation.scss';

//
// Variables
// --------------------------------------------------------------------------
$clr-post-body: #444;

//
// Styles
// --------------------------------------------------------------------------
* {
	box-sizing: border-box;
}
.post {
	@include flexbox();
	height: 100vh;
	width: 100%;
	min-height: 100%;
	color: #fff;

	&__hero-left {
		@include flexbox();
		flex-direction: column;
		// align-items: center;
		justify-content: center;
		flex: 0 1 50%;
		padding: 0 0 0 1.5rem;
		background-color: $clr-alt;
	}
	&__hero-right {

	}
	&__title {
		font-size: 250%;
	}
	&__desc {
		
	}
	&__content {
		margin: 8% 0;
		width: 100%;
		padding: 0 20%;
		color: $clr-post-body;

		h1,
		h2,
		h3 {
			margin: 2rem 0 1rem;
		}
	}
}