@use 'mixins' as *;
@use 'functions' as func;

.ellipse {
  opacity: .85;
  position: absolute;
  transition: width cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms;
  width: 65px;

  @include media-bp-up(sm) {
    position: fixed;
  }

  @include media-bp-up(md) {
    opacity: 1;
    width: 170px;

    &:hover {
      width: 230px;
    }
  }

  &.blue {
    top: -3rem;
    right: -2rem;
    width: 120px;
    transform: rotate(346deg);

    @include media-bp-up(md) {
      right: -3rem;
      top: -4rem;
      width: 160px;
    }

    @include media-bp-up(lg) {
      width: 200px;
    }

    @include media-bp-up(xl) {
      right: -5rem;
      top: -6rem;
      width: 260px;
    }

    @include media-bp-up(xxl) {
      width: 280px;
    }
  }

  &.pink {
    bottom: -3rem;
    display: none;
    left: -2rem;
    width: 120px;
    transform: rotate(24deg);

    @include media-bp-up(md) {
      bottom: -4rem;
      display: block;
      left: -3rem;
      width: 120px;
    }

    @include media-bp-up(lg) {
      width: 160px;
    }

    @include media-bp-up(xl) {
      bottom: -6rem;
      left: -5rem;
      width: 220px;
    }

    @include media-bp-up(xxl) {
      width: 240px;
    }
  }
}