@use '../mixins' as *;
@use '../functions' as func;

.ellipse {
  height: auto;
  opacity: .75;
  // Fix issue with Pug not passing all attributes
  // through to generated HTML
  overflow: visible;
  //
  position: absolute;
  transition:
    width cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms,
    top cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms,
    left cubic-bezier(0.6, -0.28, 0.735, 0.045) 200ms;
  width: 65px;

  @include media-bp-up(sm) {
    position: fixed;
  }

  @include media-bp-up(md) {
    opacity: .95;
  }

  &.blue {
    right: -2rem;
    top: -2rem;
    transform: rotate(346deg);
    width: 120px;

    @include media-bp-up(md) {
      right: -3rem;
      top: -4rem;
      width: 150px;
    }

    @include media-bp-up(lg) {
      right: -4rem;
      top: -5rem;
      width: 200px;
    }

    @include media-bp-up(xl) {
      right: -7rem;
      top: -5rem;
      width: 250px;
    }
  }

  &.pink {
    bottom: -2.5rem;
    display: none;
    left: -4rem;
    transform: rotate(24deg);
    width: 140px;

    @include media-bp-up(md) {
      display: block;
      // width: 160px;
    }

    @include media-bp-up(lg) {
      bottom: -3rem;
      left: -5rem;
      width: 160px;
    }

    @include media-bp-up(xl) {
      bottom: -7rem;
      left: -4rem;
      width: 220px;
    }
  }
}