@use '../mixins' as *;

footer {
  left: 50%;
  padding: 0 0 2rem;
  position: relative;
  text-align: center;
  top: 8rem;
  transform: translateX(-50%);

  @include media-bp-up(md) {
    left: 0;
    text-align: left;
    transform: none;
    top: 8rem;
  }

  a {
    color: var(--clr-text);

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
