@use '../mixins' as *;

[aria-label='Primary'] {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-block-start: 8rem;

  a {
    color: var(--clr-text);

    &:focus,
    &:hover {
      color: var(--darkest);
    }

    &:visited {
      &:focus,
      &:hover {
        color: var(--link-visited-focus-fg);
      }
    }

    &:not(:first-of-type) {
      margin-block-start: .75rem;

      @include media-bp-up(xl) {
        margin-inline-start: 0;
        margin-block-start: 1.75rem;
      }
    }
  }

  @include media-bp-up(md) {
    margin-block-start: 6rem;
  }

  @include media-bp-up(xl) {
    flex: 1 0 auto;
    flex-direction: column;
    margin-block-start: calc(var(--typo-xxxl) + 4rem);
  }
}
