.product {
  background-color: var(--dd-product-clr-bg);
  border-radius: 10px;
  border: 8px double var(--dd-brand-primary);
  color: var(--dd-product-clr-txt);
  max-width: 100%;
  min-height: 450px;
  padding: 2rem;
  position: relative;
  width: 100%;

  @include media-bp-up(sm) {
    width: 350px;
  }

  @include media-bp-up(lg) {
    max-width: none;
    width: auto;
  }

  @include media-bp-up(xl) {
    max-width: 400px;
    width: 350px;
  }

  &__popular {
    background-color: var(--dd-product-popular-clr-bg);
    border-radius: 50%;
    // border: 10px double var(--dd-white);
    // border: 10px solid darken(#3fa, 30%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: var(--dd-product-popular-clr-txt);
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    height: 100px;
    right: 2%;
    padding: .5rem;
    place-items: center;
    position: absolute;
    text-align: center;
    top: -7%;
    transform: rotate(5deg);
    width: 100px;
    z-index: 2;

    @include media-bp-up(md) {
      height: 110px;
      right: -4%;
      padding: 1rem;
      width: 110px;
    }
  }

  &__title {
    font-family: var(--dd-font-primary);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
  }

  &__price {
    color: var(--dd-product-price-clr-txt);
    font-family: var(--dd-font-primary);
    font-size: 7.5rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__features-title {
    font-size: 2rem;
    font-weight: 700;
    // font-family: 'PT Sans Narrow', sans-serif;
    font-family: var(--dd-font-primary);
    text-transform: uppercase;
  }

  &__features {
    padding: 0 0 7rem 2rem;
  }

  &__action {
    border-radius: 4px;
    bottom: 0;
    display: block;
    font-size: 1.85rem;
    left: 2rem;
    margin-bottom: 1rem;
    position: absolute;
    right: 2rem;
    text-align: center;
  }
}