@use '../mixins' as *;
@use '../utilities' as *;

.theme-toggle {
  @extend %btn--blank;

  display: block;
  font-size: 1.6rem;
  margin-block-start: 1.45rem;
  padding: .16rem .24rem;

  @include media-bp-up(lg) {
    margin-left: auto;
  }
}
