section.section--skills(id="skills" ng-app='skills-app' ng-controller='SkillSectionController as sectionList')
  .section-title
    h2 Knowledge

  .skill-search
    label.skill-search-input-label(for='skill-search-input') NEW! Want to know if I possess a skill you're looking for? Enter a word or phrase here to quickly find out.

    input.skill-search-input.form-control(type='text' id='skill-search-input' placeholder='Enter a phrase or word to filter skills' ng-model='sectionList.searchTerm' aria-hidden='true')

    p.skill-search-input-error(ng-hide='(sectionList.sections | filter:sectionList.searchTerm).length').
        Sorry, no results for your filter.

  .card-container
    .card(ng-repeat='section in sectionList.sections | filter:sectionList.searchTerm')
      .card-top
        h3 {{section.title}}
      .card-bottom
        .skill--items
          ul
            li(ng-repeat='item in section.items | filter:sectionList.searchTerm') {{item.item}}